{# @var Institution[] institutions #}
{% extends 'cabinet/cabinet.html.twig' %}

{% block cabinet_content %}
<div class="cabinet-institutions">
    <h1 class="cabinet-content__title">Мої медичні заклади</h1>

    {% for institution in institutions %}
        <div class="cabinet-institutions__institution">
            <a href="#">{{ institution.name }}</a>
        </div>
    {% endfor %}

    <div>
        <h4>Підрозділи</h4>

        {% if institutionUnits %}
            {% for institutionUnit in institutionUnits %}
                <div class="cabinet-institutions__institution">
                    <a href="#">{{ institutionUnit.name }}</a>
                </div>
            {% endfor %}
        {% endif %}

        <h4>Відділення</h4>
        {% if institutionUnitDepartments %}
            {% for unitDepartment in institutionUnitDepartments %}
                <div class="cabinet-institutions__institution">
                    <a href="#">{{ unitDepartment.name }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
