.icon {
    --icon-size-24: 24px;
    --icon-size-30: 30px;
    --icon-size-40: 40px;
    --icon-color-default: var(--color-orange-500);
}

.icon-size--30 {
    width: var(--icon-size-30);
    height: var(--icon-size-30);
}

.icon-size--40 {
    width: var(--icon-size-40);
    height: var(--icon-size-40);
}

.icon-color--default {
    fill: var(--icon-color-default);
}

@media screen and (max-width: 425px) {
    .icon-size--24-m {
        width: var(--icon-size-24);
        height: var(--icon-size-24);
    }
}