{% extends 'registration/register.html.twig' %}

{% block title %}Реєстрація медзакладу
{% endblock %}

{% block body %}
	<section class="register-success">
		<div class="content">
			<h1>Дякуємо!</h1>

			<p>Заявка на розгляді.
				<br>
				Ми зв’яжемось з вами за потреби.</p>

			<img src="{{asset('img/registration_success.svg')}}" alt="" width="246" height="167">
		</div>
	</section>

{% endblock %}
