{% form_theme form 'form/register_form_layout.html.twig' %}

{{ form_start(form, {
    'action': path('institution_registration_page', { 'step': step }),
    'attr': {
        'class': 'multi-step-form',
        'id': 'step-' ~ step,
    }
    })
}}

<div class="global-form-error"></div>

{% if form_errors(form) %}
	<div class="error-message wide">
		Виникла помилка при збереженні даних
	</div>
{% endif %}
{{ form_end(form) }}
