.upload {
    position: relative;
    display: flex;
    flex-direction: column;
}

.fake__label {
    font-family: "Inconsolata Regular";
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 13px;
}

.decorator {
    position: relative;
    height: 126px;
    color: var(--color-neutral-300);
    background-color: rgba(210, 209, 214, 0.1);
    border-radius: 12px;
    font-size: 18px;
    line-height: 19px;

    --b: 1px;
    --s: 10px;
    --c1: transparent;
    --c2: var(--color-neutral-500);
}

.decorator::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: var(--b);
    background: repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 / var(--s) var(--s) round;
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    border-radius: 12px;
}

.decorator-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    border-radius: 12px;
}

.decorator-content--default {
    cursor: pointer;
    outline-offset: 3px;
    outline: 2px solid transparent;
}

.decorator-content--default:hover {
    background-color: rgba(210, 209, 214, 0.2);
}

.decorator-content--default:focus {
    outline-color: var(--color-neutral-500);
    box-shadow: 0 0 0 3px var(--color-neutral-900);
}

.decorator-content__icon {
    display: flex;
    border: 1px solid var(--color-neutral-500);
    border-radius: 12px;
    padding: 9px;
    background-color: rgba(210, 209, 214, 0.1);
}

.decorator-content__image {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-neutral-500);
    border-radius: 12px;
}

.decorator-content--is-dragging {
    background-color: rgba(210, 209, 214, 0.2);
}

.decorator-content--is-dragging .decorator-content__icon,
.decorator-content--is-dragging .decorator-content__image,
.decorator-content--is-dragging .decorator-content__btn-row {
    position: relative;
    z-index: -1;
}

.upload input {
    position: absolute;
    top: 85%;
    left: calc(50% - 1px);
    z-index: -1;
    height: 1px;
    width: 1px;
    opacity: 0;
}
