.upload-group {
    display: flex;
    flex-direction: column;
}

.upload-group__label {
    font-family: "Inconsolata Regular";
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 13px;
}

.upload-group input {
    display: none;
}

.upload-group__decorator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 126px;

    --b: 1px;
    --s: 10px;
    --c1: transparent;
    --c2: var(--color-neutral-500);
    position: relative;
    border-radius: 12px;
    background-color: rgba(210, 209, 214, 0.1);
    cursor: pointer;
    gap: 19px;
    font-size: 18px;
    line-height: 19px;
    color: var(--color-neutral-300);
}

.upload-group__decorator::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: var(--b);
    background: repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 / var(--s) var(--s) round;
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    border-radius: 12px;
}

.upload-group__decorator:hover,
.upload-group__decorator:hover .upload-group__decorator-icon {
    background-color: rgba(210, 209, 214, 0.2);
}

.upload-group__decorator-icon {
    display: flex;
    border: 1px solid var(--color-neutral-500);
    border-radius: 12px;
    padding: 9px;
    background-color: rgba(210, 209, 214, 0.1);
}

.upload-group__decorator-icon > svg {
    width: 30px;
    height: 30px;
}

.upload-group__message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: "Inconsolata Medium";
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.2px;
    margin-top: 12px;
    color: var(--color-neutral-500);
}

.upload-group__message > svg {
    width: 16px;
    height: 16px;
    stroke: var(--color-neutral-500);
}

.upload-group__message--invalid {
    color: var(--color-orange-500);
}

.upload-group__message--invalid > svg {
    stroke: var(--color-orange-500);
}
