{# @var Institution[] institutions #}
{% extends 'cabinet/layout/main.html.twig' %}

{% block cabinet_menu %}
<nav class="cabinet-nav">
    <div class="cabinet-nav__title">
        Меню
    </div>
    <ul class="cabinet-nav__menu-list">
        <li class="cabinet-menu__item">
            <a href="{{ path('personal_info_page') }}">Профіль</a>
        </li>

        {% if is_granted('INSTITUTION_MANAGER') %}
            <li class="cabinet-nav-menu__item">
                <a href="{{ path('cabinet_institutions_page') }}">Мої мед заклади</a>
            </li>
        {% endif %}

        <button class="getComments button" style="margin-bottom:10px">
            Query test
        </button>

        <button class="addComment button" style="margin-bottom:10px">
            Mutation test
        </button>
    </ul>
</nav>
{% endblock %}

{% block cabinet_content %}
    Content
{% endblock %}
