{% extends "layout/auth_page_layout.html.twig" %}

{% block body %}
	<section class="login-page">
		<h1>Авторизуйтесь</h1>

		{% if error %}
			<div style="color: darkred; margin-bottom: 10px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="form-wrapper">
			{% include "cabinet/login_form.html.twig" with form %}

			<a class="button plain-text forgot-pass-btn" href="{{ path('reset_password_request_page') }}">
				Забули пароль?
			</a>
		</div>

	</section>
{% endblock %}
