.list {
    --list-padding: 0 8px;
    --item-before-size: 4px;
    --item-before-color: var(--color-stone--900);
    --item-before-color-rose-800: var(--color-rose--800);
    --item-before-color-brown-800: var(--color-brown--800);
    --item-margin-top: 8px;
    --item-content-padding-left: 2rem;
    --item-content-line-height: 1.5rem;

    padding: var(--list-padding);
}

.item {
    position: relative;
}

.item::before {
    content: "";
    width: var(--item-before-size);
    height: var(--item-before-size);
    position: absolute;
    left: 0;
    top: calc(50% - var(--item-before-size) / 2);
    border-radius: 50%;
    background-color: var(--item-before-color);
}

.list.list-style--bg-rose-800 .item::before {
    background-color: var(--item-before-color-rose-800);
}

.list.list-style--bg-brown-800 .item::before {
    background-color: var(--item-before-color-brown-800);
}

.list.list-style--c-brown-800 .item::before {
    color: var(--item-before-color-brown-800);
}

.list.list-style--square .item::before {
    top: calc(50% - var(--item-before-size) / 2);
    border-radius: 0;
}

.list.list-style--decimal {
    counter-reset: list-item;
}

.list.list-style--decimal .item {
    counter-increment: list-item;
}

.list.list-style--decimal .list-item::before {
    content: counter(list-item) ".";
    font-family: "Outfit Bold";
    top: 2px;
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: transparent;
}

.item + .item {
    margin-top: var(--item-margin-top);
}

.item-content {
    padding-left: var(--item-content-padding-left);
    line-height: var(--item-content-line-height);
}
