.list {
    padding: 0 8px;
}

.list-item {
    position: relative;
}

.list-item::before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    border-radius: 50%;
    background-color: var(--color-stone--900);
}

.list.list-style--bg-rose-800 .list-item::before {
    background-color: var(--color-rose--800);
}

.list.list-style--bg-brown-800 .list-item::before {
    background-color: var(--color-brown--800);
}

.list.list-style--c-brown-800 .list-item::before {
    color: var(--color-brown--800);
}

.list.list-style--square .list-item::before {
    top: calc(50% - 2px);
    border-radius: 0;
}

.list.list-style--decimal {
    counter-reset: list-item;
}

.list.list-style--decimal .list-item::before {
    content: counter(list-item) ".";
    counter-increment: list-item;
    font-family: "Outfit Bold";
    top: 2px;
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: transparent;
}

.list-item + .list-item {
    margin-top: 8px;
}

.list-item__content {
    padding-left: 2rem;
    line-height: 1.5rem;
}
