.heading-with-icon {
    /*  */
}

.heading-with-icon.icon-size--s > img,
.heading-with-icon.icon-size--s > svg {
    width: 30px;
    height: 30px;
}

.heading-with-icon.icon-pos--left {
    display: flex;
    align-items: center;
    gap: 15px;
}