.table {
    /*  */
}

.row {
    display: flex;
    align-items: center;
    padding-bottom: 0.813rem;
}

.row + .row {
    border-top: 1px solid var(--color-stone--150);
    padding-top: 0.875rem;
}

.row:last-child {
    padding-bottom: 0;
}

.col {
    display: flex;
    flex: 1;
}

.col--right {
    color: var(--color-brown--800);
}

.col--left > .col-content {
    padding-left: 2rem;
}

.col--right > .col-content {
    padding-left: 0.5rem;
}