.table {
    --table-border-color: var(--color-stone--150);
    --table-border-width: 1px;
    --table-row-padding-top: 0.875rem;
    --table-row-padding-bottom: 0.813rem;
    --table-col-right-color: var(--color-brown--800);
    --table-col-left-padding-left: 2rem;
    --table-col-right-padding-left: 0.5rem;

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.row {
    display: flex;
    align-items: center;
    padding-bottom: var(--table-row-padding-bottom);
    border-top: 1px solid var(--table-border-color);
    padding-top: var(--table-row-padding-top);
}

.row:last-child {
    padding-bottom: 0;
}

.col {
    display: flex;
    flex: 1;
}

.col--right {
    color: var(--table-col-right-color);
}

.col--left > .col-content {
    padding-left: var(--table-col-left-padding-left);
}

.col--right > .col-content {
    padding-left: var(--table-col-right-padding-left);
}