{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

    <table class="comment-published-public">
        <tr class="greeting-title">
            <td>
                <h1>Доброго дня!</h1>
            </td>
        </tr>
        <tr class="greeting-img">
            <td>
                <img width="156" height="156" src="{{ absolute_url(asset('img/success_circle.png')) }}" alt="Прапорець">
            </td>
        </tr>
        <tr class="greeting-msg">
            <td>
                {% if comment.type.value == 'question' %}
                    <p>Ваше питання було опубліковане. </p>
                {% elseif comment.type.value == 'reply'%}
                    <p>Вашу відповідь була опублікована.</p>
                {% elseif comment.type.value == 'review'%}
                    <p>Ваш відгук був опублікований.</p>
                {% elseif comment.type.value == 'complaint'%}
                    <p>Ваша скарга була опублікована.</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="block-title">
                    {% if comment.type.value == 'question' %}
                        <p>Зміст питання:</p>
                    {% elseif comment.type.value == 'reply'%}
                        <p>Зміст відповіді:</p>
                    {% elseif comment.type.value == 'review'%}
                        <p>Зміст відгуку:</p>
                    {% elseif comment.type.value == 'complaint'%}
                        <p>Зміст скарги:</p>
                    {% endif %} 
                </div>
                <div class="comment-text">
                    <p class="user-name">{{ comment.user.firstName | default(comment.name) }}</p>

                    <p>{{ comment.text }}</p>
                </div>
            </td>
        </tr>
        <tr class="link-to-comment-wrapper">
            <td>
                <a class="button primary" href="{{ url }}">Переглянути відгук</a>
            </td>
        </tr>
    </table>

{% endblock %}
