{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

	<table class="comment-reply">
		<tr class="greeting-title">
			<td>
				<h1>Доброго дня
					{{ confirmation.user.firstName }}!</h1>
			</td>
		</tr>
		<tr class="greeting-msg">
			<td>
				<p>Ви надіслали запит на зміну електронної пошти</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: center;margin-bottom: 24px;">Будь ласка, підтвердіть вашу нову адресу:
					{{ confirmation.newValue }}</p>
			</td>
		</tr>
		<tr class="link-to-comment-wrapper">
			<td>
				<a class="button primary" href="{{ url }}">Підтвердити</a>
			</td>
		</tr>
	</table>

{% endblock %}
