{% extends '/mail/base.html.twig' %}
{% trans_default_domain 'mail' %}

{% block body %}

    <table class="pass-reset">
        <tr class="greeting-title">
            <td>
                <h1>Хочете змінити пароль ?</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p class="help-text">Для зміни паролю на MICTO, натисніть на кнопку змінити пароль нижче :</p>
            </td>
        </tr>
        <tr class="link-to-comment-wrapper">
            <td>
                <a class="button secondary" href="{{ url }}">Змінити пароль</a>
            </td>
        </tr>
    </table>

{% endblock %}
