{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="error">
        <div class="text-block">
            <h1>504</h1>
            <div class="title">Таймаут шлюзу !</div>
            <div class="text">Час очікування сервера закінчився.</div>
            <a class="button contact-button" target="_blank" href="/">На головну сторінку</a>
        </div>
    </section>
{% endblock %}