{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="error code-404">
        <div class="text-block">
            <h1>404</h1>
            <div class="title">Йой !</div>
            <div class="text">Сторінка не знайдена</div>
            <a class="button contact-button" target="_blank" href="/">На головну сторінку</a>
        </div>
    </section>
{% endblock %}