<div class="modal micromodal-slide" id="sign-up-modal" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container sign-in" role="dialog" aria-modal="true" aria-labelledby="sign-up-modal-title">
			<header class="modal__header">
				<h2 class="modal__title" id="sign-up-modal-title">
					Авторизація
				</h2>
				<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<div class="modal__content" id="sign-up-modal-content">

				{% include "cabinet/login_form.html.twig" %}

			</div>
			{# <footer class="modal__footer">
			          <button class="modal__btn modal__btn-primary">Continue</button>
			          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
			        </footer> #}
		</div>
	</div>
</div>
