@import '../vars';

.general-info-block {
	max-width: 100%;
	background-color: $color1;
	padding: $mainStep * 8 $mainStep * 2;
	margin-bottom: $mainStep * 10 + 28px;
	margin-top: 59px;
	@media (max-width: 768px) {
		margin-top: 0;
		padding: $mainStep * 5 $mainStep * 2;
		padding-bottom: 44px;
	}

	> .container {
		max-width: 1320px;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 70px 133px;
		position: relative;
		justify-content: space-between;
		@media (max-width: 768px) {
			gap: $mainStep * 3;
		}
		.heading {
			@include fontInter56Bold;
			flex: 0 1 65%;
			@media (max-width: 768px) {
				@include fontHeaderBold2;
				width: 100%;
				flex: 0 0 60%;
			}
			@media (max-width: 767px) {
				flex: 0 0 100%;
			}
		}
		> ul {
			flex: 0 0 auto;
			@media (max-width: 767px) {
				order: -1;
			}
			li {
				@include fontUbuntu20;
				@media (max-width: 768px) {
					@include fontMedium;
					font-size: 16px;
				}
				span {
					color: $color5;
					@include fontTitleBold;
					@media (max-width: 768px) {
						@include fontRegular2Bold;
					}
				}
			}
		}
	}
}

.become-your-partner {
	max-width: 100%;
	background-color: $color1;
	padding: $mainStep * 8 $mainStep * 2;
	@media (max-width: 768px) {
		padding: $mainStep * 5 $mainStep * 2;
	}
	> .container {
		max-width: 1320px;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 0 40px;
		.heading {
			@include fontInter56Bold;
			flex: 0 1 65%;
			@media (max-width: 768px) {
				@include fontHeaderBold2;
				width: 100%;
				flex: 0 0 100%;
			}
		}
		@media (max-width: 767px) {
			.img-wrapper {
				display: flex;
				justify-content: center;
				img {
					min-width: 100%;
				}
			}
		}
		.left-side {
			flex: 1 1 calc(70% - 330px - 40px);
		}
		.right-side {
			flex: 0 0 330px;
			margin-left: auto;
		}
		.text-info {
			@include fontUbuntu20Bold;
			margin: $mainStep * 8 0;
			@media (max-width: 768px) {
				font-size: 18px;
				margin: 0;
				margin-bottom: $mainStep * 3;
			}
		}
		.button {
			height: 56px;
			@include fontUbuntu20;
			@media (max-width: 768px) {
				height: 48px;
				@include fontMedium;
				font-size: 16px;
			}
		}
	}
}

#map-wrapper {
	.block-title {
		@include fontHeaderBoldInter;
		@media (max-width: 768px) {
			@include fontTitleBold;
		}
	}
	.map-block {
		max-width: 1080px;
		margin: auto;
		@media (max-width: 768px) {
			margin-top: $mainStep * 5;
		}
	}
}

.clinic-list {
	margin: $mainStep * 10 auto;
	@media (max-width: 768px) {
		text-align: center;
	}
	.block-title {
		@include fontHeaderBoldInter;
		@media (max-width: 768px) {
			@include fontTitleBold;
		}
	}
	.chars-list {
		margin: $mainStep * 10 0;
		display: flex;
		flex-flow: row wrap;
		gap: 60px 75px;
		@media (max-width: 768px) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: $mainStep * 2;
			justify-items: center;
			margin-top: $mainStep * 5;
		}
		li {
			display: flex;
			width: 55px;
			justify-content: center;
			a {
				@include fontHeaderBoldInter;
				color: $black;
				transition: 150ms;
				background-image: none;
				@media (max-width: 768px) {
					font-size: 45px;
				}
				&:hover {
					transform: scale(1.1);
					color: $color7;
				}
			}
		}
	}
	.full-list {
		display: flex;
		flex-flow: column nowrap;
		.row {
			display: flex;
			gap: 75px;
			padding: 30px 110px;
			border-top: 1px solid $gray2;
			&:last-of-type {
				padding-bottom: 0;
			}
			@media (max-width: 768px) {
				padding: $mainStep * 5 0;
				gap: $mainStep * 3;
				flex-direction: column;
			}
			.char {
				@include fontHeaderBoldInter;
				color: $black;
				font-weight: 700;
				width: 55px;
				text-align: center;
				@media (max-width: 768px) {
					width: fit-content;
					font-size: 45px;
					line-height: 54px;
				}
			}
			.char-list {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				gap: $mainStep * 2;
				text-align: left;
				li {
					width: fit-content;
				}
				a {
					color: $color5;
					z-index: 1;
				}
			}
		}
	}
}

.about {
	margin: $mainStep * 10 auto;
	.block-title {
		@include fontTitleBold;
		font-size: 31px;
		@media (max-width: 768px) {
			font-size: 25px;
		}
		margin-bottom: $mainStep * 5;
	}
	.text {
		@include fontMedium;
		@media (max-width: 768px) {
			font-size: 16px;
		}
		display: flex;
		flex-direction: column;
		gap: $mainStep * 2;
	}
}

header {
	.add-new-unit {
		margin-left: auto;
	}
}
