@import '../vars';

section.reviews {
	max-width: 100%;
	padding: 0;
	.reviews {
		> div {
			max-width: 1320px;
			margin: auto;
			@media (max-width: 1356px) {
				padding: 0 $mainStep * 2.5;
			}
		}
		.select-form-btns {
			width: 100%;
			@media (max-width: 1356px) {
				padding-bottom: $mainStep * 5;
			}
			@media (max-width: 768px) {
				overflow: hidden;
				padding-bottom: $mainStep * 3;
			}
			> div {
				width: fit-content;
				display: flex;
				gap: $mainStep * 3;
				align-items: center;
				@media (max-width: 768px) {
					gap: $mainStep;
				}
			}
			.button {
				height: 50px;
				width: 190px;
				@include fontRegular2;
				@media (max-width: 768px) {
					width: fit-content;
					padding: $mainStep $mainStep * 2;
					height: 40px;
				}
				&.selected {
					background-color: $color9;
					color: white;
				}
			}
		}
		.toggle-form-wrapper {
			max-width: 100%;
			background-color: $color1;
			padding: $mainStep * 5 0;
			@media (max-width: 768px) {
				// background-color: transparent;
				padding: $mainStep * 3 0;
			}
			> div {
				max-width: 1320px;
				margin: auto;
				align-items: center;
				display: none;
				@media (max-width: 567px) {
					flex-direction: column;
					align-items: flex-start;
					gap: $mainStep * 3;
				}
				@media (min-width: 578px) and (max-width: 768px) {
					flex-direction: row;
					gap: 0;
				}
				&.selected {
					display: flex;
				}
				.text {
					@include fontTitle;
					@media (max-width: 768px) {
						// display: none;
						@include fontRegular2;
					}
				}
				.button {
					margin-left: auto;
					width: 100%;
					max-width: 300px;
					@media (max-width: 567px) {
						margin: auto;
						max-width: 100%;
					}
				}
				@media (max-width: 1356px) {
					padding: 0 $mainStep * 2;
				}
			}
		}
	}
	h2 {
		max-width: 1320px;
		margin: auto;
		@media (max-width: 1356px) {
			padding: 0 $mainStep * 2;
		}
	}
	.add-review-wrapper {
		max-width: 100%;
		background-color: $color1;
		@media (max-width: 768px) {
			background-color: transparent;
		}
		form {
			display: flex;
			flex-flow: row wrap;
			gap: $mainStep * 4 $mainStep * 10;
		}
	}
	.block-content {
		max-width: 1320px;
		margin: auto;
		padding-top: $mainStep * 6;
		padding-bottom: $mainStep * 6;
	}
}
// .not-signed-up {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin: $mainStep * 5 0;
//   @include fontInterTitle;
//   .button {
//     margin-top: $mainStep * 4;
//     height: 48px;
//     width: 100%;
//     max-width: 264px;
//     @include fontMedium;
//   }
// }

.block-content {
	> .title {
		@include fontTitleBold;
		margin-bottom: 35px;
	}
}

#review_comment {
	width: 100%;
}

#comment_type_block {
	width: fit-content;
	margin-bottom: 26px;
	grid-row: 1;
	grid-column: 1;
	@media (max-width: 768px) {
		order: 1px;
	}
	> label {
		margin-bottom: $mainStep * 3;
		color: $black;
		@include fontMedium;

		@media (max-width: 768px) {
			@include fontRegular2;
		}
	}
	.title {
		@include fontMedium;
		display: block;
	}

	#review_comment_type {
		display: flex;
		gap: $mainStep $mainStep * 3;
		input[type='radio'] {
			display: none;
		}
		> label {
			height: 30px;
			padding: 0 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 7px;
			font-size: 14px;
			cursor: pointer;
			&::after {
				content: none;
			}
			@media (min-width: 768px) {
				transform: scale(1);
				transition: transform 0.3s ease;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		input[type='radio'][data-comment-type]:checked + label {
			color: white;
		}
		input[type='radio'][data-comment-type='question'] + label {
			border: 1px solid $orange1;
			color: $orange1;
		}
		input[type='radio'][data-comment-type='review'] + label {
			border: 1px solid $color22;
			color: $color22;
		}
		input[type='radio'][data-comment-type='gratitude'] + label {
			border: 1px solid $color21;
			color: $color21;
		}
		input[type='radio'][data-comment-type='complaint'] + label {
			border: 1px solid $red1;
			color: $red1;
		}
		input[type='radio'][data-comment-type='review']:checked + label {
			background-color: $color22;
		}
		input[type='radio'][data-comment-type='gratitude']:checked + label {
			background-color: $color21;
		}
		input[type='radio'][data-comment-type='question']:checked + label {
			background-color: $orange1;
		}
		input[type='radio'][data-comment-type='complaint']:checked + label {
			background-color: $red1;
		}
	}
}

#comment_text_block {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	grid-row: 3;
	grid-column: 1 / -1;
	@media (max-width: 768px) {
		order: 3;
	}
	&:has(.error-message) {
		.error-message {
			padding-bottom: $mainStep;
		}
	}
}

#comment_name_block {
	@media (max-width: 768px) {
		order: 4;
	}
}

#comment_email_block {
	@media (max-width: 768px) {
		order: 5;
	}
}

#comment_phone_block {
	@media (max-width: 768px) {
		order: 6;
	}
}

.input-row:has([data-captcha-block]) {
	order: 10;
	margin-top: $mainStep * 2;
	@media (max-width: 768px) {
		margin-top: 0;
	}
}

.visit-date {
	width: fit-content;
	display: flex;
	gap: $mainStep * 3;
	flex-flow: column nowrap;
	margin-bottom: 26px;
	// grid-column: 1 / -1;
	grid-row: 2;
	@media (max-width: 768px) {
		order: 2;
	}
	> div {
		display: flex;
		gap: $mainStep * 2;
	}
	span {
		color: $color9;
		white-space: nowrap;
	}
	.input-row {
		@media (max-width: 768px) {
			margin-bottom: 0;
		}
	}
}
#institution_unit {
	max-width: 80%;
	width: 100%;
	grid-row: 2;
	grid-column: 1;
	gap: 24px;
	label {
		margin-bottom: 0;
	}
}
#comment_mark_block {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	max-width: 300px;
	grid-column: 2;
	grid-row: 1;
	@media (max-width: 768px) {
		order: 3;
	}
	> label {
		color: $black;
		transition: 0.3s;
		margin-bottom: $mainStep * 3;

		@include fontMedium;
		@media (max-width: 768px) {
			@include fontRegular2;
		}
	}

	.error-message {
		white-space: nowrap;
		overflow: hidden;
		position: absolute;
		bottom: 0;
	}

	&:has(.error-message) {
		.error-message {
			overflow: visible;
			bottom: -18px;
			&.hide {
				overflow: hidden;
			}
		}
	}
}
.submit_block {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	grid-row: 8;
	grid-column: 1 / -1;
	@media (max-width: 768px) {
		order: 15;
	}
	button {
		height: 50px;
		min-width: 300px;
		margin-top: $mainStep * 2;
		@media (max-width: 768px) {
			width: 100%;
		}
		&::before {
			display: block;
			content: '';
			width: 18px;
			height: 18px;
			margin-bottom: 1px;
			background: url('../../img/pencil_white.svg') center no-repeat;
		}
	}
}

.input-row:not(.checkbox-wrapper) {
	grid-column: 1 / -1;
	display: flex;
	flex-flow: column nowrap;
	label {
		margin-bottom: $mainStep;
		color: $color9;
	}
	input {
		height: 48px;
		@include fontMedium;
		&::placeholder {
			@include fontRegular2;
			font-size: 18px;
		}
		@media (max-width: 768px) {
			@include fontRegular2;
			&::placeholder {
				font-size: 16px;
			}
		}
	}
	textarea {
		@include fontMedium;
		min-height: 72px;
		@media (min-width: 991px) {
			min-height: 168px;
		}

		&::placeholder {
			@include fontRegular2;
			font-size: 18px;
		}
		@media (max-width: 768px) {
			@include fontRegular2;
			&::placeholder {
				font-size: 16px;
			}
		}
	}

	label {
		display: flex;
		gap: calc($mainStep / 2);
	}

	&:has(.required) {
		label::after {
			content: '*';
			display: block;
		}
	}
}

#review_comment_mark {
	display: flex;
	width: fit-content;
	position: relative;
	left: -4px;
	margin-bottom: $mainStep * 3;
	input[type='radio'] {
		display: none;
	}

	> label {
		font-size: 0px;
		flex: 0 0 auto;
		&::after {
			content: none;
		}
		&::before {
			display: block;
			content: '';
			background: url('../../img/star_empty_gray.svg') center no-repeat;
			background-size: 30px 36px;
			height: 32px;
			width: 36px;
			cursor: pointer;
		}
		&:hover {
			&::before {
				background: url('../../img/star_full.svg') center no-repeat;
			}
		}

		&:has(~ input + label:hover) {
			&::before {
				background: url('../../img/star_full.svg') center no-repeat;
				background-size: contain;
			}
		}

		&.selected {
			&::before {
				background: url('../../img/star_full.svg') center no-repeat;
				background-size: contain;
			}
		}
	}

	input[type='radio'][value=''] + label {
		display: none;
		&::before {
			content: none;
		}
	}
}

.modal {
	.modal__overlay {
		padding: 20px;
		@media (max-width: 768px) {
			padding: 0;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
	.modal__header {
		padding: $mainStep $mainStep * 4.5;
		height: 90px;
		width: 100%;
		top: 0px;
		position: sticky;
		background: white;
		z-index: 1;
		h2.modal__title {
			margin: 0;
			padding: 0;
		}
		@media (max-width: 768px) {
			padding: $mainStep $mainStep * 2.5;
			height: 80px;
		}
		.modal__close {
			&::before {
				@media (max-width: 768px) {
					font-size: 26px;
				}
			}
		}
	}
	.modal__container {
		border-radius: 7px;
		max-width: 1320px;
		max-height: calc(100% - 20px);
		width: 100%;
		padding: 0;
		@media (max-width: 768px) {
			max-height: 100%;
			border-radius: 0;
		}
	}
	.modal__content {
		padding: $mainStep * 5 $mainStep * 4.5;
		@media (max-width: 768px) {
			padding: $mainStep * 3 $mainStep * 2.5;
		}
		.info {
			text-align: center;
			@include fontRegular;
			color: $gray3;
			margin-top: $mainStep * 2;
			> p {
				max-width: 725px;
				white-space: nowrap;
				margin: auto;
				gap: 4px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}
			a {
				display: inline;
				color: $color5;
				&::after {
					position: initial;
				}
			}
		}
		form {
			max-width: 725px;
			margin: auto;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 $mainStep * 3;
			@media (max-width: 768px) {
				display: flex;
				flex-direction: column;
			}
		}
		.input-row label {
			color: $black;
			@include fontMedium;
			@media (max-width: 768px) {
				@include fontRegular2;
			}
		}
		.visit-date > span {
			color: $black;
			@include fontMediumRegular;
		}
		.visit-date {
			.visit-text {
				@include fontMedium;
				@media (max-width: 768px) {
					@include fontRegular2;
				}
			}
		}
	}
}

#add-review-modal {
	#review_comment_mark > label {
		font-size: 0;
		height: 24px;
	}
}

#add-review-modal,
#add-question-modal,
#add-reply-modal {
	.modal__content {
		padding: $mainStep * 5;
		@media (max-width: 768px) {
			padding: $mainStep * 3 $mainStep * 2;
		}
	}
	.ss-main {
		height: 50px;
		@media (max-width: 768px) {
			height: 40px;
		}
	}
	.ss-list .ss-option:nth-child(1) {
		display: block;
	}
	textarea {
		min-height: 72px;

		&:hover,
		&:focus,
		&:focus-visible {
			background-color: white;
		}
		@media (min-width: 991px) {
			min-height: 168px;
		}
	}
}

body {
	&:has(#institution_unit .ss-open-above),
	&:has(#institution_unit .ss-open-below) {
		.ss-content .ss-list .ss-option {
			display: block !important;
		}
	}
}

#review_comment_type {
	input[type='radio'] + label {
		flex: 0 0 fit-content;
		display: flex;
		flex-flow: row nowrap;
		&::before {
			content: none;
		}
		&:hover {
			cursor: pointer;
			&::before {
				content: none;
			}
		}
	}

	input[type='radio']:checked + label {
		&::before {
			content: none;
		}
	}
}
