@import '../colors';
@import '../vars.scss';

footer {
	background-color: $color9;
	color: $white;
	padding: $mainStep * 4 0;
	padding-bottom: 0;
	@media (max-width: 768px) {
		padding-top: 60px;
	}
	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
	.container {
		width: 100%;
		margin: auto;
		max-width: 1320px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: $mainStep * 5;
		gap: $mainStep * 2;
		@media (max-width: 1356px) {
			padding: 0 $mainStep * 2;
			padding-bottom: $mainStep * 5;
			gap: 0;
		}
		@media (max-width: 768px) {
			text-align: center;
			align-items: center;
			gap: $mainStep * 5;
		}
		.row {
			display: flex;
			flex-direction: column;
			&.first {
				margin-bottom: $mainStep * 10;
				a {
					width: fit-content;
				}
			}
			.title {
				margin-bottom: $mainStep * 3;
				@include fontUbuntu20;
				@media (max-width: 768px) {
					margin-bottom: $mainStep * 3;
				}
			}
			&.contacts {
				@media (max-width: 768px) {
					margin: $mainStep * 5 0;
				}
				.title {
					margin-bottom: $mainStep * 3;
				}
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: $mainStep * 2;
				@media (max-width: 768px) {
					align-items: center;
				}
				li {
					display: flex;
					align-items: center;
					gap: $mainStep * 3;
					&.investor {
						a {
							color: $warning;
						}
					}
				}
			}
			.logo {
				font-weight: bold;
				display: flex;
				flex-direction: column;
				margin-bottom: $mainStep * 4;
				@media (max-width: 767px) {
					gap: $mainStep * 2;
				}
				img {
					max-width: 217px;
				}
			}
			&:first-child {
				width: 100%;
				max-width: 268px;
				@media (max-width: 768px) {
					align-items: center;
				}
			}
			&:not(:first-child) {
				margin-top: 11px;
				&.contacts {
					@media (max-width: 768px) {
						margin-top: $mainStep * 5;
					}
				}
			}
			@media (max-width: 768px) {
				margin: 0 !important;
			}
		}
		@media screen and (max-width: 991px) {
			flex-direction: column;
		}
	}

	.copy {
		text-align: center;
		width: 100%;
		background-color: $color8;
		padding: $mainStep;
		margin-top: $mainStep * 2;
		justify-content: center;
		a {
			display: flex;
			flex-direction: column;
			gap: $mainStep;
			align-items: center;
			color: $gray2;
			width: 100%;
			background-image: none;
			@media (max-width: 768px) {
				max-width: 70%;
				margin: auto;
			}
		}
	}

	.social-icons {
		a {
			background-image: none;
			img {
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
			transform: scale(1);
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
