@import '../vars';

.login-form {
    margin: auto;
}

.login-page {
    .forgot-pass-btn {
        color: $gray3;
        text-align: center;
        margin: auto;
        height: fit-content;
        margin-top: 16px;
        @media (min-width:768px) {
            margin-top: 24px;
        }
    }
}