@import '../vars';

.menu-wrapper {
	.button.menu {
		* {
			pointer-events: none;
		}
		img {
			height: 17.5px;
			width: 23.5px;
		}
	}

	#menu {
		position: fixed;
		left: 0;
		top: 0;
		background-color: white;
		width: 290px;
		height: 100%;
		z-index: 1000;
		visibility: hidden;
		transition: 0.3s;
		transform: translateX(-100%);
		@media (max-width: 768px) {
			width: 80%;
		}
	}

	.menu-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $mainStep * 3;
		gap: $mainStep * 2;

		.close {
			display: block;
			width: fit-content;
			height: fit-content;
			cursor: pointer;
			i {
				pointer-events: none;
			}
		}

		.menu-logo {
			height: 48px;
			max-width: 184px;
		}

		&:has(#lang-selector) {
			.menu-content {
				height: calc(100% - 230px) !important;
			}
		}
	}

	.add-unit-btn {
		height: 50px;
		min-height: 50px;
		width: 100%;
		margin-bottom: $mainStep * 3;
		margin-top: $mainStep * 2;
		@include fontMedium;
	}

	.menu-content {
		overflow: hidden;
		overflow-y: auto;
		height: calc(100% - 96px);

		&::-webkit-scrollbar {
			width: 8px;
			margin-right: 4px;
		}

		&::-webkit-scrollbar-track {
			background: #d9d9d9;
			border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb {
			background: $color5;
			border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: $color4;
			cursor: grab;
		}

		@-moz-document url-prefix() {
			scrollbar-width: thin; /* Makes the scrollbar width similar to WebKit */
			scrollbar-color: $color5 #fff; /* Thumb color, track color */
		}

		/* Optional hover effect for Firefox */
		&:hover {
			@-moz-document url-prefix() {
				scrollbar-color: $color4 #fff;
			}
		}

		.static-pages {
			padding: 0 $mainStep * 3;
			display: flex;
			flex-direction: column;
			gap: $mainStep * 2;
			a:not(.button) {
				@include fontMedium;
				color: $black;
				display: block;
			}
		}

		#menu-catalog-btn {
			margin-top: $mainStep * 3;
			padding: $mainStep $mainStep * 1.5;
			min-width: 100%;
			@include fontMedium;
		}

		.contacts {
			margin-top: $mainStep * 5;
			.block {
				padding: 0 $mainStep * 3;
				margin-bottom: $mainStep * 5;
				display: flex;
				flex-flow: column nowrap;
				gap: $mainStep * 2;
				color: $black;
				.block-title {
					@include fontMediumBold;
					width: 100%;
					margin-bottom: $mainStep;
				}
				a {
					color: $color5;
					display: block;
				}
			}
		}
		.block.social {
			padding: $mainStep * 3;
			background-color: $color9;
			margin-bottom: 0;
			color: white;
			gap: 8px;
			.block-title {
				color: $white;
				margin-bottom: 0;
			}
			.social-links {
				display: flex;
				gap: $mainStep * 2;
				a {
					background-image: none;
					transition: 0.1s;
					&:hover {
						transform: scale(1.05);
					}
				}
			}
			.copyrigth {
				width: 100%;
				color: $gray2;
			}
		}
	}

	#menu-bg {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
		background-color: rgba($color: #000000, $alpha: 0.3);
		opacity: 0;
		transition: all 0s, opacity 0.3s;
		width: 100%;
		height: 100%;
		pointer-events: none;
		// visibility: hidden;
	}

	&.open {
		#menu {
			visibility: visible;
			transform: translate(0);
		}
		#menu-bg {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}
}

#lang-selector {
	width: 100%;
	padding: 0 $mainStep * 2;
	display: flex;
	justify-content: center;
	align-items: center;
	.lang {
		height: 32px;
		padding: 0 $mainStep;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color9;
		&.selected {
			border-radius: 7px;
			background-color: $color1;
			color: $color5;
		}
		&:not(.selected) {
			cursor: pointer;
			&:hover {
				color: $color8;
			}
		}
	}
}
