@import '../vars';

.modal {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
		segoe ui, arial, sans-serif;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1002;
	@media (max-width: 768px) {
		padding: 0;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 0px;
	overflow-y: auto;
	box-sizing: border-box;
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: #d9d9d9;
		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb {
		background: $color5;
		border-radius: 30px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $color4;
		cursor: grab;
	}

	@-moz-document url-prefix() {
		scrollbar-width: thin; /* Makes the scrollbar width similar to WebKit */
		scrollbar-color: $color5 #fff; /* Thumb color, track color */
	}

	/* Optional hover effect for Firefox */
	&:hover {
		@-moz-document url-prefix() {
			scrollbar-color: $color4 #fff;
		}
	}
	@media (max-width: 768px) {
		height: 100%;
		max-height: 100%;
		max-width: 100%;
		border-radius: 0;
		padding: 0;
	}
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768px) {
		padding: $mainStep $mainStep * 2.5;
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	@include fontTitleBold;
	color: $black;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
	cursor: pointer;
	&::before {
		content: '\2715';
		font-size: 32px;
		color: #000305;
		@media (max-width: 768px) {
			font-size: 26px;
		}
	}
}

.modal__content {
	margin: 0;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	@media (max-width: 768px) {
		padding: $mainStep * 3 $mainStep * 2.5;
		height: 100%;
		padding-top: 80px;
		overflow: hidden;
		overflow-y: auto;
		height: calc(100dvh - 80px);
	}
	form {
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
		}
		&.loading {
			&::before {
				margin: 0;
				position: sticky;
				animation: modalSpin 1s linear infinite;
			}
			&::after {
				height: 100%;
				width: 100%;
				position: absolute;
			}
		}
	}
	button[type='submit'] {
		height: 50px;
		@media (max-width: 768px) {
			width: 100%;
			max-width: 400px;
		}
	}
}

.modal__btn {
	font-size: 0.875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 0.25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn-primary {
	background-color: #00449e;
	color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	animation-delay: 300ms;
	display: none;
}

.micromodal-slide.is-open {
	animation-delay: 300ms;
	display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

.sign-in {
	max-width: 450px;
	width: 100%;
	padding: 20px;
	form {
		margin-top: $mainStep;
	}
	.modal__content {
		.buttons-wrapper {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			.button {
				width: 100%;
				padding: $mainStep + 2 $mainStep * 3;
			}
			a.button {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: $mainStep * 3;
				text-decoration: none;
			}

			.or {
				margin: 12px 0;
			}
		}
	}
}

#sign-up-modal-content {
	input {
		height: 48px;
		@include fontRegular;
		font-size: 16px;
	}
}

#notify-modal {
	.modal__header {
		@media (max-width: 768px) {
			height: 80px;
		}
		@media (min-width: 425px) and (max-width: 650px) {
			height: 115px;
		}
		@media (max-width: 424px) {
			height: 155px;
		}
	}
	.modal__content {
		@media (min-width: 425px) and (max-width: 650px) {
			height: calc(100dvh - 115px);
		}
		@media (max-width: 424px) {
			height: calc(100dvh - 155px);
		}
	}
	.submit-row {
		grid-column: -1 / 1;
		order: 10;
		button {
			@media (min-width: 768px) {
				max-width: 300px;
				width: 100%;
				margin: auto;
			}
		}
	}
	.input-row {
		grid-column: -1 / 1;
		&.checkbox-wrapper {
			width: 100%;
			label {
				&::after {
					content: none;
				}
			}
			.help-text {
				color: $gray3;
				@include fontRegular;
				font-size: 16px;
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}
		}
	}
	.checkbox-wrapper {
		input[type='checkbox']:checked ~ label {
			&::before {
				background-color: transparent;
				border: 1px solid $color9;
			}
			&::after {
				width: 18px;
				height: 18px;
				top: 4px;
				left: 3px;
				position: absolute;
				color: $color9;
				display: block;
				content: '✓' !important;
				line-height: 18px;
				font-size: 14px;
			}
		}
	}
}

@keyframes modalSpin {
	from {
		transform: translateX(calc(33px * -1)) rotate(0deg); /* Keep translateX constant, start rotation at 0 degrees */
	}
	to {
		transform: translateX(calc(33px * -1)) rotate(360deg); /* Keep translateX constant, rotate full circle */
	}
}
