@import '../vars';

.search-wrapper {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	.mobile-input-anchor {
		position: absolute;
		top: -40px;
	}
	form {
		width: 100%;
		a {
			background-image: none;
		}
		&.open {
			.async-result-block {
				display: block;
			}
		}
		&.empty {
			.async-result-block {
				.empty {
					display: block;
					@media (max-width: 768px) {
						@include fontRegular2;
					}
				}
				button.all-results {
					display: none;
				}
				.result-block {
					display: none;
				}
			}
		}
	}
	input {
		height: 100%;
		width: 100%;
		margin: auto;
		@include fontRegular2;
		color: $color9;
		z-index: 10;
		padding: 12px $mainStep * 2;
		height: 50px;
		@media (max-width: 768px) {
			height: 40px;
		}
	}
	button.search-btn {
		right: 0;
		top: 0;
		width: 40px;
		height: 100%;
		border: 0;
		outline: 0;
		background-color: transparent;
		position: absolute;
		cursor: pointer;
		z-index: 10;
		@media (max-width: 768px) {
			display: none;
		}
	}
	button.all-results {
		padding: $mainStep * 2 $mainStep * 3 $mainStep * 3 $mainStep * 8;
		text-decoration: 1px dashed underline;
		text-underline-offset: 4px;
		@include fontMedium;
		@media (max-width: 768px) {
			padding-left: $mainStep * 2;
			padding-bottom: $mainStep * 5;
			@include fontRegular2;
			width: fit-content;
			text-align: left;
			display: flex;
			justify-content: flex-start;
		}
	}
	.async-result-block {
		border-radius: 7px;
		width: 100%;
		position: absolute;
		top: calc(100% + 5px);
		z-index: 1;
		height: fit-content;
		background-color: white;
		max-height: 450px;
		overflow: hidden;
		overflow-y: auto;
		box-shadow: 0px 4px 4px 0px #00000040;
		display: flex;
		flex-direction: column;
		display: none;
		&.loading {
			display: block;
			button.all-results {
				display: none;
			}
		}
		@media (max-width: 768px) {
			max-height: calc(80dvh - 40px);
		}
		.empty {
			display: none;
			padding: $mainStep * 2 $mainStep * 3;
			color: $color9;
			@include fontMedium;
		}
		.result-block {
			&:last-of-type {
				padding-bottom: $mainStep * 2;
			}
			&:not(:has(li)) {
				display: none;
			}
		}

		.block-title {
			color: $black;
			padding: $mainStep * 3;
			padding-bottom: 0;
			margin-bottom: $mainStep;
			@include fontUbuntu20;
			font-size: 25px;
			line-height: 32.5px;

			@media (max-width: 768px) {
				@include fontMedium;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0;
			li {
				display: flex;
				gap: $mainStep * 2;
				padding: $mainStep * 1.5 $mainStep * 3;
				width: 100%;
				a {
					@include fontMedium;
					color: $black;
					@media (max-width: 768px) {
						@include fontRegular2;
					}
				}
				&::before {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					min-width: 24px;
					min-height: 24px;
					background: url('../../../public/img/search_gray.svg') center no-repeat;
				}
				&:hover {
					background-color: $color1;
					cursor: pointer;
					a {
						color: $color5;
					}
					&::before {
						background: url('../../../public/img/search_blue.svg') center no-repeat;
					}
				}
			}
		}

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background: #d9d9d9;
			border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb {
			background: $color5;
			border-radius: 30px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: $color4;
			cursor: grab;
		}

		@-moz-document url-prefix() {
			scrollbar-width: thin; /* Makes the scrollbar width similar to WebKit */
			scrollbar-color: $color5 #fff; /* Thumb color, track color */
		}

		/* Optional hover effect for Firefox */
		&:hover {
			@-moz-document url-prefix() {
				scrollbar-color: $color4 #fff;
			}
		}
	}
}

header {
	.search-wrapper {
		max-width: 527px;
		position: relative;
		display: flex;
	}
}

.general-info-block {
	.search-wrapper {
		width: 100%;
		max-width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: 56px;
		left: 10%;
		bottom: -92px;
		@media (max-width: 768px) {
			height: 40px;
			max-width: 100%;
			left: 0;
			bottom: -64px;
		}
		form {
			width: 100%;
		}
		input {
			height: 56px;
			padding: $mainStep * 2;
			width: 100%;
			margin: auto;
			@include fontRegular2;
			color: $color9;
			z-index: 10;
			@media (max-width: 768px) {
				height: 40px;
			}
		}
		button.search-btn {
			right: 8px;
			top: 0;
			width: 40px;
			height: 100%;
			border: 0;
			outline: 0;
			background-color: transparent;
			position: absolute;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.async-result-block {
			.block-title {
				@include fontTitle;
				color: $color9;
				padding: $mainStep * 3;
				padding-bottom: 0;
				@media (max-width: 768px) {
					@include fontMedium;
				}
			}
			ul {
				li {
					padding: $mainStep * 2 $mainStep * 3;
				}
			}
		}
	}
}
