@import '../vars';

#eh_banner {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: white;
  padding: $mainStep * 2;
  z-index: 850;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: $color8;
  font-weight: bold;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      margin-left: 8px;
      &:before {
        font-size: 21px;
      }
    }
  }

  .coment-content {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 40px;
    align-items: center;

    a {
      opacity: 0.8;
      color: $color5;

      &:hover {
        opacity: 1;
      }
    }

    img {
      height: 40px;
      width: 40px;
    }
  }
  @media (max-width: 768px) {
    .title button:before {
      font-size: 19px;
    }
    .coment-content {
      gap: 34px;
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
}
