.top-menu {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  padding: 16px 40px;
  background: linear-gradient(
    90deg,
    #52c7f9 0%,
    #21b7f8 24.43%,
    #079dde 43.56%,
    #067aad 64.02%,
    #04577b 84.91%,
    #067aad 100%
  );
  .image {
    width: 90px;
    height: 66px;
    background-color: gray;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .current-institution-unit {
    display: flex;
    width: 100%;
    gap: 12px;
    .select-and-info {
      display: flex;
      justify-content: space-between;
      flex-flow: column nowrap;
    }
    .awards {
      margin-left: auto;
      display: flex;
      align-items: center;
      color: white;
      ul {
        display: flex;
        align-items: center;
      }
    }
  }
}
