{% extends "layout/auth_page_layout.html.twig" %}

{% block backBtn %}{% endblock %}

{% block body %}
	{% if isCompleted|default(false) %}

		{# Показати інше повідомлення? #}
		{% include "cabinet/pass_reset/change_password_success.html.twig" with {'hiddenByDefault': false}  %}

	{% else %}

		{% if email|default(false) %}	
			<section class="reset-pass-page">
			
				<h1>Забули пароль?</h1>

				<div class="help">Будь ласка, введіть новий пароль для облікового запису {{ email }}</div>

				{% include "cabinet/pass_reset/change_password_form.html.twig" with { form, code } %}

			</section>

			{% include "cabinet/pass_reset/change_password_success.html.twig" with {'hiddenByDefault': true}  %}

		{% endif %}

	{% endif %}
{% endblock %}
