<section class="reset-success {{ hiddenByDefault is defined and hiddenByDefault ? 'hidden' : '' }}">
	<div class="content">

		<h1>Все готово !</h1>

		<img src="{{asset('img/pass-reset-success.svg')}}" alt="MICTO.UA" width="246" height="167">

		<p>Ваш пароль успішно оновлено.</p>

		<button class="button primary">До кабінету</button>

	</div>
</section>
