<section class="reset-request-success {{ hiddenByDefault is defined and hiddenByDefault ? 'hidden' : '' }}">
	<div class="content">

		<img src="{{asset('img/pass-reset-req-success.svg')}}" alt="MICTO.UA" width="246" height="167">

		<h1>Лист надісланий!</h1>

		<p>Щоб відновити пароль, відкрийте лист, який ми вам  надіслали на ел. пошту <span class="user-mail">arnold@gmail.com</span>, і натисніть в ньому на кнопку “Відновити пароль”.</p>

	</div>
</section>
