{% extends "layout/auth_page_layout.html.twig" %}

{% block body %}
	<section class="reset-pass-page">
		<h1>Забули пароль?</h1>

		<div class="help">На цей e-mail ми відправимо лист із інструкцією по відновленню паролю.</div>


		<div class="form-wrapper">
			{% include "cabinet/pass_reset/reset_password_request_form.html.twig" with form %}
		</div>

	</section>

	{% include "cabinet/pass_reset/reset_request_success.html.twig" with {'hiddenByDefault': true} %}

{% endblock %}
