{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block body %}
    <section class="doc-online">

        <div class="block-title">
            <h1>Лікарі онлайн</h1>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <h3 style="margin-top: 0;" class="title-subscribe">Якщо Ви лікар, долучайтесь <a target=_blank href="https://docs.google.com/forms/d/e/1FAIpQLSdhlNRoL44W6397uv9jWx8hLa5rJnOByWO_AoAX0EwwQaB71w/viewform">подайте заявку</a></h3>
        </div>
        <div class="block-title">
            <aside class="doc-group svelte-19mfcdq"><a class="doc svelte-19mfcdq" href="#allergist">алерголог</a><a class="doc svelte-19mfcdq" href="#anesthetist">анестезіолог</a><a class="doc svelte-19mfcdq" href="#cardiologist">кардіолог</a><a class="doc svelte-19mfcdq" href="#dentist">стоматолог</a><a class="doc svelte-19mfcdq" href="#dermatologist">дерматолог</a><a class="doc svelte-19mfcdq" href="#endocrinologist">ендокринолог</a><a class="doc svelte-19mfcdq" href="#family-doctor">сімейний лікар</a><a class="doc svelte-19mfcdq" href="#gastroenterologist">гастроентеролог</a><a class="doc svelte-19mfcdq" href="#gynecologist">гінеколог</a><a class="doc svelte-19mfcdq" href="#infectious-disease-specialist">інфекціоніст</a><a class="doc svelte-19mfcdq" href="#nephrologist">нефролог</a><a class="doc svelte-19mfcdq" href="#neurologist">невролог</a><a class="doc svelte-19mfcdq" href="#nutritionist">дієтолог</a><a class="doc svelte-19mfcdq" href="#oncologist">онколог</a><a class="doc svelte-19mfcdq" href="#ophthalmologist">офтальмолог</a><a class="doc svelte-19mfcdq" href="#orthopaedist">ортопед-травматолог</a><a class="doc svelte-19mfcdq" href="#otolaryngologist">отоларинголог(лор)</a><a class="doc svelte-19mfcdq" href="#pediatrician">педіатр</a><a class="doc svelte-19mfcdq" href="#proctologist">проктолог</a><a class="doc svelte-19mfcdq" href="#psychiatrist">психіатр</a><a class="doc svelte-19mfcdq" href="#psychologist">психолог</a><a class="doc svelte-19mfcdq" href="#pulmonologist">пульмонолог (хвороби легень)</a><a class="doc svelte-19mfcdq" href="#rheumatologist">ревматолог</a><a class="doc svelte-19mfcdq" href="#surgeon">хірург</a><a class="doc svelte-19mfcdq" href="#urologist">уролог</a></aside>
        </div>



        <div id="allergist" class="block-title">
            <h3 class="svelte-19mfcdq">алерголог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr__maya">@dr__maya
                        <span>(дитячий)</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.vira_myhovych">@dr.vira_myhovych</a></aside>
            </div>
        </div>

        <div id="anesthetist" class="block-title">
            <h3 class="svelte-19mfcdq">анестезіолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/egorzhzhonov">@egorzhzhonov
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/diana_h">@diana_h
                        <span>(ковід у вагітних)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/pishaks1">@pishaks1
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yuliia__ruda">@yuliia__ruda

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr__anest">@dr__anest
                        <span>(робота з ковід)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/annaleskiv_94">@annaleskiv_94
                    </a></aside>
            </div>
        </div>

        <div id="cardiologist" class="block-title">
            <h3 class="svelte-19mfcdq">кардіолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/p0llyp">@p0llyp
                        <span>(лікар з США)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.oksana_samusenko">@dr.oksana_samusenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olesia_dilai13">@olesia_dilai13

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/viktoriiagoraichuk">@viktoriiagoraichuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yulia_gordash_dyadchenko">@yulia_gordash_dyadchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_kira.cardio">@dr_kira.cardio

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tkachuk_n_">@tkachuk_n_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/katerinka_zrajevskaya">@katerinka_zrajevskaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/vita.onysko">@vita.onysko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tkachuk_n_">@tkachuk_n_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.natalia_strybulevych">@dr.natalia_strybulevych

                    </a></aside>
            </div>
        </div>

        <div id="dentist" class="block-title">
            <h3 class="svelte-19mfcdq">стоматолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.katerynazhmurko">@dr.katerynazhmurko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/valeriya.mp4">@valeriya.mp4

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.ulker_abdullayeva">@dr.ulker_abdullayeva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/liliia_lilu_lila">@liliia_lilu_lila

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/aleksei.brechko">@aleksei.brechko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.nurlan_heidarov">@dr.nurlan_heidarov

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_vlad_b">@dr_vlad_b

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/viktorija_zareva">@viktorija_zareva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/juliatartachna">@juliatartachna

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/stomatologbakhmut">@stomatologbakhmut

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yuliiatymoshenko">@yuliiatymoshenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/valeriya.mp4">@valeriya.mp4
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.ityna_potaschnyk">@dr.ityna_potaschnyk
                        <span>(головний лікар 0672634073 клініка Експерт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_stetsenko_jr">@dr_stetsenko_jr

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_stetsenko_jr">@dr_stetsenko_jr

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.cherchovych">@dr.cherchovych
                        <span>(львів 0958531217)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/irina_shelihova">@irina_shelihova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/spdentclinic">@spdentclinic

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.toropov123">@dr.toropov123

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olja_vysotska">@olja_vysotska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/iammaridza">@iammaridza

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/duo_dentis">@duo_dentis
                        <span>(львів, вул.мазепи -  безкоштовний прийом в клініці)</span>
                    </a></aside>
            </div>
        </div>

        <div id="dermatologist" class="block-title">
            <h3 class="svelte-19mfcdq">дерматолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/julia.sukhan">@julia.sukhan

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.proshyna">@dr.proshyna

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_anna_vasylchenko">@dr_anna_vasylchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_cercea">@doctor_cercea
                        <span>(трихолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr__melnyk_">@dr__melnyk_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.solomiia_herych">@dr.solomiia_herych

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/derma.mama.kr">@derma.mama.kr

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/skin_hair_health_blog">@skin_hair_health_blog

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tanyagoch">@dr.tanyagoch

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_lugovskaya">@_lugovskaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/gelen_allen">@gelen_allen

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tanya_pasieka">@dr.tanya_pasieka

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.oksana_buchynska">@dr.oksana_buchynska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_bilotil">@_bilotil

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.olga.karaivanska">@dr.olga.karaivanska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.klovanich_kosmetolog">@dr.klovanich_kosmetolog
                        <span>(дерматовенеролог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doc.kateryna">@doc.kateryna

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tetianamatkova">@tetianamatkova
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dashagybareva">@dashagybareva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dashagybareva">@dashagybareva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/khmara_kosmetolog">@khmara_kosmetolog

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.mariya_maystruk">@dr.mariya_maystruk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_lugovskaya">@_lugovskaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kosmetolog_trostianets">@kosmetolog_trostianets

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_blahuta">@dr_blahuta

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.koshova">@dr.koshova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.kurinnaya">@dr.kurinnaya
                        <span>(0674933858)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oliv__456">@oliv__456

                    </a></aside>
            </div>
        </div>

        <div id="endocrinologist" class="block-title">
            <h3 class="svelte-19mfcdq">ендокринолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/natalo4ka_sinogach">@natalo4ka_sinogach
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/likar_khanko">@likar_khanko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/proendo.doc">@proendo.doc

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/annaphaddal">@annaphaddal
                        <span>(дитячий США ( російськомовний))</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/varunkiv.s">@varunkiv.s

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doc_dinakrylova">@doc_dinakrylova
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/o_alexeyeva">@o_alexeyeva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.praporschikova">@dr.praporschikova

                    </a></aside>
            </div>
        </div>

        <div id="family-doctor" class="block-title">
            <h3 class="svelte-19mfcdq">сімейний лікар</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/hulanatalia">@hulanatalia
                        <span>(терапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.vysochyna.o.s">@dr.vysochyna.o.s

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_kutakova">@doctor_kutakova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/manuilov_md">@manuilov_md

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.kpinchuk">@dr.kpinchuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/katerinka_zrajevskaya">@katerinka_zrajevskaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yuliia_____koval">@yuliia_____koval

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/vandyk.irina">@vandyk.irina

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_blahuta">@dr_blahuta

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tymchenko">@dr.tymchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.oliiarchuk">@dr.oliiarchuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/alterntv_e">@alterntv_e

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/vandyk.irina">@vandyk.irina

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kotik.family_doc">@kotik.family_doc

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.vira_myhovych">@dr.vira_myhovych

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yulia_gordash_dyadchenko">@yulia_gordash_dyadchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_sharhan_victoria">@dr_sharhan_victoria

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_sharhan_victoria">@dr_sharhan_victoria

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dana_pokidko">@dana_pokidko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nanasurb_papyan">@nanasurb_papyan
                        <span>(гематолог-сша)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.kateryna_svystun">@dr.kateryna_svystun

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/viktoriiagoraichuk">@viktoriiagoraichuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/sportdoc_alina">@sportdoc_alina

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/maggie_lady_in_red">@maggie_lady_in_red

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/irachedra">@irachedra

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/koval.md">@koval.md

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_podd.daria">@dr_podd.daria

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_saxonik">@doctor_saxonik

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/aleksandraandrievskaya">@aleksandraandrievskaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tatiana22doc">@tatiana22doc

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oksana_skylska">@oksana_skylska
                        <span>(терапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/baksheieva.therapy">@baksheieva.therapy

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_lena_martyniuk">@dr_lena_martyniuk

                    </a></aside>
            </div>
        </div>

        <div id="gastroenterologist" class="block-title">
            <h3 class="svelte-19mfcdq">гастроентеролог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_vita_voloshchuk">@_vita_voloshchuk
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/alexandra_sheludchenko">@alexandra_sheludchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/alterntv_e">@alterntv_e
                        <span>(імунолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.anna_shvets">@dr.anna_shvets

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.malimonenko">@dr.malimonenko

                    </a></aside>
            </div>
        </div>

        <div id="gynecologist" class="block-title">
            <h3 class="svelte-19mfcdq">гінеколог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.solomiamyklysh">@dr.solomiamyklysh

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/bodnariukmascha">@bodnariukmascha

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/medynska_gyn">@medynska_gyn

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.furmanchuk">@dr.furmanchuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/svet_lusik">@svet_lusik

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mariyaval">@mariyaval

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.m.marchenko">@dr.m.marchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.olha_reshetukha">@dr.olha_reshetukha

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tumnianashvili">@dr.tumnianashvili

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yarynkaivankiv/дитячий">@yarynkaivankiv/дитячий

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yuliana.brus">@yuliana.brus

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/solomiiahrynchuk">@solomiiahrynchuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/gynotes">@gynotes

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/elena_suslova_v">@elena_suslova_v

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.avramenko_a">@dr.avramenko_a

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olgahoptyana">@olgahoptyana
                        <span>(онкогінеколог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.ekaterinakasian">@dr.ekaterinakasian

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/zhanna_pshen_">@zhanna_pshen_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.polianko">@dr.polianko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/ka_te_ester_">@ka_te_ester_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nina_sass">@nina_sass
                        <span>(0989149262)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nargizyusifli">@nargizyusifli

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_tseytlin">@dr_tseytlin

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olgavladinova">@olgavladinova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_olga_polishchuk">@dr_olga_polishchuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/aesthetic_frisson">@aesthetic_frisson

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/irynalypko">@irynalypko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doc_poliukhovych">@doc_poliukhovych

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tatiana_lindemann">@tatiana_lindemann
                        <span>(0959398953)</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.zakharchenko_ab/">@dr.zakharchenko_ab
                    </a>
                </aside>
            </div>
        </div>

        <div id="infectious-disease-specialist" class="block-title">
            <h3 class="svelte-19mfcdq">інфекціоніст</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/sigler.o">@sigler.o

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kateryna_rykhalska">@kateryna_rykhalska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/sophia_malysh">@sophia_malysh

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.oleksii_shved">@dr.oleksii_shved

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/anastasiia_netupska">@anastasiia_netupska

                    </a></aside>
            </div>
        </div>

        <div id="nephrologist" class="block-title">
            <h3 class="svelte-19mfcdq">нефролог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.gorban">@dr.gorban

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/maggie_lady_in_red">@maggie_lady_in_red

                    </a></aside>
            </div>
        </div>

        <div id="neurologist" class="block-title">
            <h3 class="svelte-19mfcdq">невролог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olgakievich">@olgakievich

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/k.m._klimovich">@k.m._klimovich
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/motornaia.anna">@motornaia.anna

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nevrolog.rogova">@nevrolog.rogova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_kutakova">@doctor_kutakova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/sweet.irysia">@sweet.irysia

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/your_neurologist">@your_neurologist

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_chekha">@doctor_chekha

                    </a></aside>
            </div>
        </div>

        <div id="nutritionist" class="block-title">
            <h3 class="svelte-19mfcdq">дієтолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mari_nutritionist">@mari_nutritionist

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dietolog.sadovaya">@dietolog.sadovaya

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.l.hrabovska">@dr.l.hrabovska

                    </a></aside>
            </div>
        </div>

        <div id="oncologist" class="block-title">
            <h3 class="svelte-19mfcdq">онколог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_lena_martyniuk">@dr_lena_martyniuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/angelina.volodymyrivna">@angelina.volodymyrivna
                        <span>(хіміотерапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/v_ligostaeva">@v_ligostaeva
                        <span>(хіміотерапевт)</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.facebook.com/bogdan.zadorizhnyi">@bogdan.zadorizhnyi
                        <span>(онколог, онкохірург, уролог)</span>
                    </a>
                </aside>
            </div>
        </div>

        <div id="ophthalmologist" class="block-title">
            <h3 class="svelte-19mfcdq">офтальмолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/valeriya_riz">@valeriya_riz

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr._angelina_3mare">@dr._angelina_3mare

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/felixvasiliy">@felixvasiliy

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/inna_moskalets">@inna_moskalets

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/anya.grytsak">@anya.grytsak

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_tomkiv">@dr_tomkiv

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/i.vasyltsov">@i.vasyltsov

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_kulikovska">@doctor_kulikovska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oleksandra_balanyuk">@oleksandra_balanyuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mari_obukhova">@mari_obukhova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/utm_medium">@utm_medium

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/ira_kirdei">@ira_kirdei

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_dziuba_andriy">@dr_dziuba_andriy

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/inna_moskalets">@inna_moskalets

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/anna_korolik">@anna_korolik

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/chisto_na_pamyat_">@chisto_na_pamyat_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kachan2764">@kachan2764

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olenkadutka">@olenkadutka

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yaryha">@dr.yaryha

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/katerina.kazak.md">@katerina.kazak.md

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oleksandradorokhova">@oleksandradorokhova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/bratishk0">@bratishk0
                        <span>(0937891039)</span>
                    </a></aside>
            </div>
        </div>

        <div id="orthopaedist" class="block-title">
            <h3 class="svelte-19mfcdq">ортопед-травматолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yurii__tkach">@dr.yurii__tkach

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oleksiuk_w">@oleksiuk_w

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.kul_trauma">@dr.kul_trauma

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oleksiuk_w">@oleksiuk_w

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.zabolotnii">@dr.zabolotnii

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yevchuk">@dr.yevchuk
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yushchyshen">@dr.yushchyshen

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/maxkin_dnepr">@maxkin_dnepr
                        <span>(фізіотерапевт)</span>
                    </a></aside>
            </div>
        </div>

        <div id="otolaryngologist" class="block-title">
            <h3 class="svelte-19mfcdq">отоларинголог(лор)</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_kosana">@dr_kosana

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/lor_kostyanik">@lor_kostyanik

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nata_baidachenko">@nata_baidachenko
                        <span>(дитячий лор)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/yana_borysova">@yana_borysova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.khalimovska">@dr.khalimovska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_stasya">@doctor_stasya
                        <span>(дитячий лор)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/natapryl">@natapryl

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/daria_lysianchenko">@daria_lysianchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doc.lor">@doc.lor
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/v_savelenko">@v_savelenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/katya_nazukina">@katya_nazukina

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/zoxan_dr_xays">@zoxan_dr_xays

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/katya_nazukina">@katya_nazukina

                    </a></aside>
            </div>
        </div>

        <div id="pediatrician" class="block-title">
            <h3 class="svelte-19mfcdq">педіатр</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_lana_shevchyk">@_lana_shevchyk
                        <span>(0637147330)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr__maya">@dr__maya
                        <span>(дитячий пульмонолог, алерголог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/alina_frunza_">@alina_frunza_
                        <span>(неонатолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kushnir_md">@kushnir_md

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.hanhur">@dr.hanhur

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/pishaks1">@pishaks1
                        <span>(анестезіолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.mariia.p">@dr.mariia.p
                        <span>(кардіоревматолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/zubyk_kristina_">@zubyk_kristina_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tanichka_y_">@tanichka_y_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tkachova_viktoriia">@dr.tkachova_viktoriia

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.mariia_pylypko">@dr.mariia_pylypko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.babliak">@dr.babliak

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/natalia_savranskaya">@natalia_savranskaya
                        <span>(консультант по ГВ)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/margo_paediatrician">@margo_paediatrician

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/k.m._klimovich">@k.m._klimovich
                        <span>(невролог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/annetfoth">@annetfoth

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mariaemergency">@mariaemergency

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_natalie_sklr">@dr_natalie_sklr

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.tkachova_viktoriia">@dr.tkachova_viktoriia

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_vita_voloshchuk">@_vita_voloshchuk
                        <span>(гастроентеролог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tanichka_y_">@tanichka_y_

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/lisovska_pediatric_blog">@lisovska_pediatric_blog

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.kozarchuk.yuliia">@dr.kozarchuk.yuliia
                        <span>(0999835185)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/su_vo_rova">@su_vo_rova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/oleksandra_kashchenko">@oleksandra_kashchenko
                        <span>(консультант з гв)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tulchinsco">@tulchinsco
                        <span>(дитячий хірург)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/solomiya_tymchyshyn">@solomiya_tymchyshyn
                        <span>(імунолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mariia_bukartyk">@mariia_bukartyk
                        <span>(Львів цілодобово/0633995285)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yuliahashchuk_shytikova">@dr.yuliahashchuk_shytikova

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.semianchukvira">@dr.semianchukvira

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/annaphaddal">@annaphaddal
                        <span>(ендокринолог США / російськомовний)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.yevchuk">@dr.yevchuk
                        <span>(травматолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/valeria_manoylo">@valeria_manoylo
                        <span>(неонатолог)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.oksana_holovchak">@dr.oksana_holovchak

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kid_n_treat">@kid_n_treat

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.domanska">@dr.domanska
                        <span>(консультант по ГВ)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tulchinsco">@tulchinsco
                        <span>(дитячий хірург)</span>
                    </a></aside>
            </div>
        </div>

        <div id="proctologist" class="block-title">
            <h3 class="svelte-19mfcdq">проктолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/sparysh_yevhenii">@sparysh_yevhenii
                    </a></aside>
            </div>
        </div>

        <div id="psychiatrist" class="block-title">
            <h3 class="svelte-19mfcdq">психіатр</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/shotismotrish">@shotismotrish

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/marta_sereda_sm">@marta_sereda_sm

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/nikcaelum">@nikcaelum

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/your_dr_psychotherapist">@your_dr_psychotherapist

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/leha1396">@leha1396

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_nataliyavorska">@dr_nataliyavorska
                        <span>(психотерапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/viktoriiasukharieva">@viktoriiasukharieva

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/_yuliia_boiko">@_yuliia_boiko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/marta_sereda_sm">@marta_sereda_sm

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.zayonchkovska">@dr.zayonchkovska

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tkachovmi">@tkachovmi

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/viktoriiasukharieva">@viktoriiasukharieva

                    </a></aside>
            </div>
        </div>

        <div id="psychologist" class="block-title">
            <h3 class="svelte-19mfcdq">психолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kristina.murenko">@kristina.murenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.rostyslava_broz">@dr.rostyslava_broz
                        <span>(психотерапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mudrulihka">@mudrulihka
                        <span>(психотерапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/iryna.kofan.psychology">@iryna.kofan.psychology

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/artem_pron">@artem_pron

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/psychologist_shkriabun">@psychologist_shkriabun

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/va.dnv">@va.dnv
                        <span>(психотерапевт/0675498723)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/slaviakrawez">@slaviakrawez

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/elena_lenochka_lenusia">@elena_lenochka_lenusia
                        <span>(психотерапевт)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/svetlana_protsenko">@svetlana_protsenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/anaconda_mama">@anaconda_mama

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/svetlana_protsenko.psy">@svetlana_protsenko.psy

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/psydoctor_anton_kulykovych">@psydoctor_anton_kulykovych

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/p_pervysage">@p_pervysage

                    </a></aside>
            </div>
        </div>

        <div id="pulmonologist" class="block-title">
            <h3 class="svelte-19mfcdq">пульмонолог (хвороби легень)</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr__maya">@dr__maya
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.olga_korotchenko">@dr.olga_korotchenko

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.liubevych">@dr.liubevych
                        <span>(фтизіатр)</span>
                    </a></aside>
            </div>
        </div>

        <div id="rheumatologist" class="block-title">
            <h3 class="svelte-19mfcdq">ревматолог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.ihnat">@dr.ihnat

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/prosto_revmo_blog">@prosto_revmo_blog

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.mariia.p">@dr.mariia.p
                        <span>(дитячий)</span>
                    </a></aside>
            </div>
        </div>

        <div id="surgeon" class="block-title">
            <h3 class="svelte-19mfcdq">хірург</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.letavskiy">@dr.letavskiy

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/mariia_beauty_doc">@mariia_beauty_doc

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/liudmylazurnadzhy">@liudmylazurnadzhy
                        <span>(ендокринологія/0683316949)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tulchinsco">@tulchinsco
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doc.ivankiv">@doc.ivankiv
                        <span>(Львів)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_shkitak">@doctor_shkitak

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/tulchinsco">@tulchinsco
                        <span>(дитячий хірург)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/urikdima">@urikdima

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr.khmel">@dr.khmel

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kid_n_treat">@kid_n_treat
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/kashiryaka">@kashiryaka
                        <span>(нейрохірург)</span>
                    </a></aside>
            </div>
        </div>

        <div id="urologist" class="block-title">
            <h3 class="svelte-19mfcdq">уролог</h3>
            <div class="arrow_box"></div>
        </div>
        <div class="info-text">
            <div>
                <aside class="docs2 svelte-19mfcdq"><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dazhukovskij">@dazhukovskij

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/serpeninov_v">@serpeninov_v

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_bevz.m">@dr_bevz.m

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/olena.golovchenko.1">@olena.golovchenko.1
                        <span>(дитячий)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_lypivskyi">@dr_lypivskyi

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_havryliuk">@dr_havryliuk

                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_khalilov">@dr_khalilov
                        <span>(0967314180)</span>
                    </a><a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/doctor_tymoshenko">@doctor_tymoshenko
                        <span>(дорослий)</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/dr_lomanov">
                        @dr_lomanov
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/andrii_vyacheslavovich">
                        @andrii_vyacheslavovich <span>(інститут раку/0664648812)</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/khrapchuk">
                        @khrapchuk
                    </a>
                    <a target="_blank" rel="noopener noreferrer" class="link svelte-19mfcdq" href="https://www.instagram.com/urolog_chistyakov/">
                        @urolog_chistyakov
                    </a>
                </aside>
            </div>
        </div>
        <div class="info-text">
            <h3 class="title-subscribe bottom">
                Якщо Ви лікар, долучайтесь <a target=_blank href="https://docs.google.com/forms/d/e/1FAIpQLSdhlNRoL44W6397uv9jWx8hLa5rJnOByWO_AoAX0EwwQaB71w/viewform">подайте заявку</a>
            </h3>
        </div>
    </section>
{% endblock %}
