{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}


{% block body %}
    <section class="donate">
        <div class="block-title">
            <h1 class="main-title">Спонсорська допомога</h1>
        </div>

        <div class="info-text donate-wrapper">
            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Рахунок-фактура
                </div>
                <div class="donate-body">
                    Номер рахунку IBAN <span>UA813510050000026003878906785</span></br>
                    Найменування банку одержувача АТ <span>«УКРСИББАНК»</span></br>
                    МФО банка <span>351005</span></br>
                    ПІБ отримувача <span>Недомовний Дмитро Михайлович</span></br>
                    ІПН отримувача <span>3337510778</span></br>
                </div>
            </div>

            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Поповнення картки
                </div>
                <div class="donate-body">
                    <span>4627055110705109</span></br>
                    Приватбанк, VISA
                </div>
            </div>

            <div class="donate-block">
                <div class="donate-title">
                    <i class="icon credit-card dark"></i>
                    Криптовалюта
                </div>
                <div class="donate-body">
                    BTC адреса: <span>17jxkkCBZZxrXxrHB8wbWk84qm1yTkVvkt</span>
                </div>
                <div class="donate-body">
                    ETH адреса: <span>0xbd8cf81177d1b930d89b7e16794a41bb0e3154d4</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
