{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block body %}
    <section>
        <div class="block-title">
            <h1 class="main-title">Згода на обробку персональних даних</h1>
        </div>

        <div class="col-2 row">
            <div class="info-text privacy-policy">
                <ol>
                    <li>
                        Шляхом проставлення відмітки на сторінці написання відгуку на інтернет-сайті <a href="https://micto.ua">https://micto.ua</a> в пункті &laquo;Заповнюючи цю форму, ви погоджуєтеся з умовами збору, оброки та захисту персональних даних&raquo; Користувач &ndash; фізична особа, суб&rsquo;єкт персональних даних, надає ТОВ &laquo;SOFT.UA&raquo; свою безумовну згоду на збір і обробку персональних даних.<br />
                    </li>
                    <li>
                        Я, як Користувач інтернет-сайту <a href="https://micto.ua">https://micto.ua</a>, надаю свою згоду ТОВ &laquo;SOFT.UA&raquo; на обробку, використання та зберігання моїх персональних даних у картотеках та/або за допомогою бази персональних даних, власником якої є ТОВ &laquo;SOFT.UA&raquo; (далі &ndash; Власник) і яка знаходиться за адресою: м. Київ, бульв. Миколи Міхновського, 17а.<br />
                    </li>
                    <li>
                        Шляхом проставляння відмітки на сторінці реєстрації або при оформленні замовлення на інтернет-сайті https://micto.ua в пункті &laquo;Заповнюючи цю форму, ви погоджуєтеся з умовами збору, оброки та захисту персональних даних&raquo;, підтверджую, що повідомлений(-а) і згодний(-а) з наступним:<br />
                        &ndash; Власник здійснює обробку персональних даних Користувача будь-якими способами з метою належного надання Користувачу послуг (ідентифікація, аутентифікація, авторизація, знеособлення, відновлення пароля, відправка інформаційних матеріалів за згодою Користувача, відповідей на запити та листи Користувача, отримання заявок на придбання товару, залишення відгуків щодо якості обслуговування Власника, отримання рекламних та спеціальних пропозицій, інформації про акції, розіграші, іншу інформацію про діяльність Власника з метою проведення успішних і безпечних транзакцій замовлень і оплат;&nbsp;<br />
                        здійснення пропонованих послуг; проведення маркетингових акцій та вручення призових винагород);<br />
                        &ndash; Під час користування інтернет-сайтом Власник здійснює збір та обробку персональних даних Користувача, пов&rsquo;язаних з ідентифікацією, аутентифікацією, авторизацією, знеособленням, відновленням пароля, відправкою інформаційних матеріалів за згодою Користувача, відповідями на запити та листи Користувача, отриманням заявок на придбання товару, залишенням відгуків щодо якості обслуговування Власника, для реєстрації в програмі знижок Власника, отримання рекламних та спеціальних пропозицій, інформації про акції, розіграші, іншої інформації про діяльність Власника, здійснення пропонованих послуг; проведення маркетингових акцій та вручення призових винагород, серед яких можуть бути наступні персональні дані:<br />
                        &ndash; прізвище, ім&rsquo;я, по батькові, адреса доставки замовлень, контактний номер телефону, e-mail адресу, дані по замовленнях, бонуси-знижки, інші відомості, що містять персональні дані в електронній формі;<br />
                        &ndash; персональні дані, надані Користувачем при заповненні реєстраційних форм на інтернет-сайті, а так само у процесі користування інтернет-сайтом;<br />
                        &ndash; файли cookie (кукі-файли). Кукі-файли є інформаційними файлами, які надходять до комп&rsquo;ютера або мобільного пристрою, коли той використовується для відвідування сайтів. ТОВ &laquo;Місто для людей&raquo; не надає можливості третім сторонам поміщати кукі-файли на ваш пристрій. За допомогою кукі-файлів ТОВ &laquo;SOFT.UA&raquo; може збирати інформацію про ваше користування нашим сайтом, вашу IP-адресу, тип браузера та операційної системи. Також з метою опрацювання ваших покупок, здійснених у режимі онлайн, ми можемо збирати вашу платіжну інформацію, інформацію про ваші уподобання щодо продукції тощо.<br />
                    </li>
                    <li>
                        Власник включає дані Користувача в базу персональних даних &laquo;Фізичні особи які приймають участь у господарській діяльності ТОВ &laquo;SOFT.UA&raquo; з моменту, коли Користувач вперше надає (надсилає) свої персональні дані Власнику шляхом заповнення реєстраційної форми або форми замовлення на інтернет-сторінці Власника.<br />
                    </li>
                    <li>
                        Натискаючи на кнопку &laquo;Додати відгук&raquo;, я добровільно погоджуюся надати зазначені вище персональні дані про себе для загального доступу необмеженому колу осіб в рамках використання Бази персональних даних &laquo;Фізичні особи які приймають участь у господарській діяльності ТОВ &laquo;SOFT.UA&raquo;.<br />
                    </li>
                    <li>
                        Власник використовує знеособлені дані для таргетингу рекламних та/або інформаційних матеріалів за віком, статтю, іншими даними; для проведення статистичних досліджень; іншими способами.<br />
                    </li>
                    <li>
                        Власник бази даних не інформує суб&rsquo;єкта персональних даних про передачу його персональних даних у випадках, передбачених Законом України &laquo;Про захист персональних даних&raquo;.<br />
                    </li>
                    <li>
                        Користувач має всі права щодо захисту його персональних даних, передбачених чинним законодавством України, зокрема, Законом України &laquo;Про захист персональних даних&raquo;, а саме:<br />
                        &ndash; знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;<br />
                        &ndash; отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;<br />
                        &ndash; на доступ до своїх персональних даних;<br />
                        &ndash; отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних даних;<br />
                        &ndash; пред&rsquo;являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних даних;<br />
                        &ndash; пред&rsquo;являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;<br />
                        &ndash; на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв&rsquo;язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;<br />
                        &ndash; звертатися із скаргами на обробку своїх персональних даних до Уповноваженого або до суду;<br />
                        &ndash; застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;<br />
                        &ndash; вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;<br />
                        &ndash; відкликати згоду на обробку персональних даних;<br />
                        &ndash; знати механізм автоматичної обробки персональних даних;<br />
                        на захист від автоматизованого рішення, яке має для нього правові наслідки.<br />
                    </li>
                    <li>
                        Власник приймає всі передбачені законодавством заходи для захисту персональних даних Користувача, зокрема, обробка даних здійснюється на обладнанні, яке знаходиться в охоронюваних приміщеннях з обмеженим доступом.<br />
                        Шляхом проставляння позначки на сторінці реєстрації або при оформленні замовлення на інтернет-сайті ТОВ &laquo;SOFT.UAй&raquo; в нункті &laquo;Заповнюючи цю форму, ви погоджуєтеся з умовами збору, оброки та захисту персональних даних&raquo;, я також підтверджую, що повідомлений (-а) про включення інформації про мене до бази персональних даних з вищезазначеною метою, про мої права, які визначені Законом України &laquo;Про захист персональних даних&raquo;, а також про осіб, яким мої дані передаються для виконання вищезазначеної мети.<br />
                    </li>
                    <li>
                        Сайт <a href="https://micto.ua">https://micto.ua</a> може містити посилання на сайти, які не відносяться до ТОВ &laquo;SOFT.UA&raquo;. Такі гіперпосилання наведені виключно для інформаційних цілей. При використанні таких веб-сайтів ми рекомендуємо Вам уважно прочитати їх політику конфіденційності.<br />
                    </li>
                    <li>
                        Зазначена угода надана з урахуванням вимог ст.7, ст.8 і ст.11 Закону України &laquo;Про захист персональних даних&raquo; та діє без обмеження території дії.<br />
                    </li>
                    <li>
                        Я цим підтверджую, що отримав повідомлення про Власника персональних даних, склад та зміст зібраних персональних даних, а також відомості про мої права, визначених законом України &laquo;Про захист персональних даних&raquo; для виконання зазначеної мети і можливості передачі моїх персональних даних третім особам на розсуд Власника і /або розпорядника бази даних.<br />
                    </li>
                    <li>
                        Зміст моїх прав як суб&rsquo;єкта персональних даних відповідно до Закону України &laquo;Про захист персональних даних&raquo; мені повідомлено і зрозуміло.<br />
                    </li>
                    <li>
                        Зазначена угода діє безстроково до дати її відкликання мною шляхом направлення на адресу ТОВ &laquo;SOFT.UA&raquo; письмового повідомлення про вказане відкликання в довільній формі, якщо інше не встановлено чинним законодавством України.<br />
                    </li>
                    <li>
                        ТОВ &laquo;SOFT.UA&raquo; залишає за собою право в будь-який час внести зміни до даного положення. Після внесення змін, такі зміни вступлять в силу відразу ж після розміщення їх на офіційному сайті ТОВ &laquo;SOFT.UA&raquo;.
                    </li>
                </ol>
            </div>
        </div>
    </section>
{% endblock %}
