{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('static') }}
{% endblock %}

{% block body %}
    <section class="volunteer donate">
        <div class="block-title">
            <h1 class="main-title">Волонтерство</h1>
        </div>

        <div class="row">
            <div class="block-button">
                <div class="text">Якщо Ви хочете допомогти, або потребуєте допомоги</div>
                <a class="button contact-button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScQHMFtj1bsUar3LQ249ADVAA9cNraaSlVaQxHbAE8WkU_57w/viewform">Додайте заявку</a>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Наша задача</h2>
            </div>
        </div>

        <div class="col-2 row par">
            <div class="info-text col">
                <p>Для оптимізації логістики. Ціль: допомогти волонтерам, активним громадянам, які хочуть долучитися до ініціатив та людям, які потребують допомогу знайти одне одного.</p>
                <p>Два основні напрямки:</p>
                <p>Пропозиції допомоги. Тут можна знайти інформацію про те, до кого можна звернутися зі своїми потребами, дізнатися, де у місті облаштовані місця для ночівлі, де можна отримати харчі, одяг, медикаменти та медичну допомогу, послуги з перевезення, психологічну допомогу та інше.</p>
                <p>Прохання про допомогу. У цій категорії можна дізнатися, що потребують волонтери. Наприклад: продуктів для приготування їжі, фізичної допомоги для сортування чи розвантажування товарів, пального, допомоги війську, одягу та іншого.</p>
                <p>Також портал МІСТО.ЮА виконує аналогічні задачі для допомоги ЗСУ: шукаємо тих, хто може допомогти зі зброєю, обладнанням, транспортом тощо та з’єднуємо їх із нашими захисниками.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Як шукати інформацію ?</h2>
            </div>
        </div>
        <div class="col-2 row par">
            <div class="info-text col">
                <p>Усе для людей – просто та зрозуміло. Вам потрібно обрати необхідний напрямок - “пропозиція” або “прохання”. Натиснути “переглянути” і обрати локацію та необхідну категорію. І ви отримаєте перелік актуальних волонтерських пропозицій або потреб від волонтерів чи приватних осіб.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Як опублікувати інформацію на сайті ?</h2>
            </div>
        </div>
        <div class="col-2 row par">
            <div class="info-text col">
                <p>Якщо ви бажаєте, щоб інформація про вашу ініціативу чи потребу з’явилася на нашому сайті - натисніть “додати”, у відповідному напрямку. Вам відкриється спеціальна анкета, яку необхідно заповнити. Після чого ми отримаємо вашу анкету та в дуже короткий термін перетелефонуємо вам, щоб перевірити всі дані. Якщо все правильно - публікуємо.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Чи можна довіряти інформації ?</h2>
            </div>
        </div>
        <div class="col-2 row par">
            <div class="info-text col">
                <p>Звісно. Наша команда ретельно моніторить інформацію, яка потрапляє на сайт. Ми перевіряємо актуальність номерів, потреб та можливості надати допомогу. Проєкт живе с 2014 – ще з першої війни. Й зупинятися ми не збираємося.</p>
            </div>
        </div>

        <div class="col-2 row">
            <div class="info-text col">
                <h2>Хто ми ?</h2>
            </div>
        </div>
        <div class="col-2 row par">
            <div class="info-text col">
                <p>Небайдужі українські хлопці та дівчата. Кожен з нас понад усе мріє про перемогу України. Ми знаємо, яким важливим є волонтерський фронт. Тому вирішили трішки навести лад: структурувати хаос серед волонтерських ініціатив. Аби всі процеси працювали злагоджено та приносили максимальний результат. Ми прикриваємо тил нашим бійцям, бо розуміємо, що цей фронт не менш важливий за передовий. Тому користуйтеся порталом МІСТО.ЮА, допомагайте один одному та разом до перемоги!</p>
            </div>
        </div>

        <div class="row">
            <div class="block-button">
                <div class="text">Якщо Ви хочете допомогти, або потребуєте допомоги</div>
                <a class="button contact-button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScQHMFtj1bsUar3LQ249ADVAA9cNraaSlVaQxHbAE8WkU_57w/viewform">Додайте заявку</a>
            </div>
        </div>

    </section>

{% endblock %}
