.group {
    --group-gap-8: 8px;
    --group-gap-15: 15px;
    --group-gap-16: 16px;
    --group-gap-20: 20px;

    display: flex;
    align-items: center;
}

.group-align--center {
    align-items: center;
}

.group-align--start {
    align-items: flex-start;
}

.group-gap--8 {
    gap: var(--group-gap-8);
}

.group-gap--15 {
    gap: var(--group-gap-15);
}

.group-gap--16 {
    gap: var(--group-gap-16);
}

.group-gap--20 {
    gap: var(--group-gap-20);
}
