/// GENERAL VARS

$mainStep: 8px;

/// COLORS

$grayBg: #F8F9FA;

$color1: #e1f3fc;
$color2: #b5e7fd;
$color3: #84d7fb;
$color4: #52c7f9;
$color5: #007DCF;
$color6: #079dde;
$color7: #067aad;
$color8: #04577b;
$color9: #002238;

$white: #fff;
$black: #000305;
$success: #76ca66;
$info: #a0c3ff;
$warning: #fbc756;
$error: #E0625F;

$redBg: #F9E2E1;

$activeColor1: rgba(17, 106, 204, 1);
$activeBg: rgba(160, 195, 255, 0.1);
$success: rgba(118, 202, 102, 1);

$color11: #e0ebf5;
$color12: #b9d2e9;
$color13: #92b8dd;
$color14: #6b9fd1;
$color15: #4486c5;
$color16: #336ca3;
$color17: #27527d;
$color18: #0f1f2f;

$gray1: #f3f4f6;
$gray2: #d1d5db;
$gray3: #9ca3af;
$gray4: #6b7280;
$gray5: #4b5563;
$gray6: #374151;
$gray7: #1f2937;

$purple1: #5d4181;
$purple2: #8e68c0;
$purpleBG: #bb95eb33;

$orange1: #fbc756;

$color20: #00416B;
$color21: #6BC4FF;
$color22: #005F9E;
$color23: #9ED9FF;

$red1: #E0625F;

/// FONTS

@mixin fontRegular {
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.01em;
}

@mixin fontRegular2 {
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.01em;
}
@mixin fontRegular2Bold {
	font-family: 'Inter Bold';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.01em;
}

@mixin fontMediumRegular {
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: -0.01em;
}

@mixin fontMedium {
	font-family: 'Inter Medium';
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: -0.01em;
}

@mixin fontMediumBold {
	font-family: 'Inter Bold';
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.01em;
}

@mixin fontMediumBoldFirefox {
}

@mixin fontHeaderBold {
	font-family: 'Inter Bold';
	font-size: 30px;
	line-height: 39px;
	letter-spacing: -0.02em;
	@media (max-width: 768px) {
		font-size: 24px;
	}
}

@mixin fontHeaderBold2 {
	font-family: 'Inter Bold';
	font-size: 30px;
	line-height: 39px;
	letter-spacing: -0.02em;
}

@mixin fontHeaderRegular {
	font-family: 'Inter';
	font-size: 30px;
	font-weight: 400;
	line-height: 39px;
	letter-spacing: -0.02em;
}

@mixin fontHeadingBold {
	font-family: 'Inter Bold';
	font-size: 60px;
	line-height: 72px;
}

@mixin fontH4Bold {
	font-family: 'Inter Bold';
	font-size: 31px;
	line-height: 40px;
}

@mixin fontHeaderBoldInter {
	font-family: 'Inter Bold';
	font-size: 45px;
	line-height: 54px;
	@media (max-width: 768px) {
		font-size: 32px;
	}
}

@mixin fontTitle {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
	letter-spacing: -0.01em;
}

@mixin fontTitleBold {
	font-family: 'Ubuntu Bold';
	font-size: 25px;
	line-height: 32.5px;
	letter-spacing: -0.01em;
}

@mixin fontUbuntu20Bold {
	font-family: 'Ubuntu Bold';
	font-size: 20px;
	line-height: 26px;
}

@mixin fontUbuntu20 {
	font-family: 'Ubuntu Medium';
	font-size: 20px;
	line-height: 26px;
}

@mixin fontInterTitle {
	font-family: 'Inter';
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
	letter-spacing: -0.01em;
}

@mixin fontInter56Bold {
	font-family: 'Inter Bold';
	font-size: 56px;
	line-height: 67.2px;
}

/// FONT IMPORTS

$ubuntu-font-path: '../fonts/Ubuntu/';
$inter-font-path: '../fonts/Inter/';

@font-face {
	src: url($ubuntu-font-path + 'Ubuntu-Regular.woff2') format('woff2');
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url($ubuntu-font-path + 'Ubuntu-Bold.woff2') format('woff2');
	font-family: 'Ubuntu Bold';
	font-weight: 700;
	font-display: swap;
}

@font-face {
	src: url($ubuntu-font-path + 'Ubuntu-Medium.woff2') format('woff2');
	font-family: 'Ubuntu Medium';
	font-weight: 500;
	font-display: swap;
}

@font-face {
	src: url($inter-font-path + 'Inter-Regular.woff2') format('woff2');
	font-family: 'Inter';
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url($inter-font-path + 'Inter-Medium.woff2') format('woff2');
	font-family: 'Inter Medium';
	font-weight: 500;
	font-display: swap;
}

@font-face {
	src: url($inter-font-path + 'Inter-Bold.woff2') format('woff2');
	font-family: 'Inter Bold';
	font-weight: 400;
	font-display: swap;
}
