@import './helpers';
@import './colors';
@import './_vars.scss';
@import 'colors';
@import './components/footer.scss';

body {
	background: white;
	font: 18px/1.5 'Inter', sans-serif;
	color: $black;
	text-rendering: optimizeSpeed;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

ul,
ol {
	list-style: none;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 39px;
}

img {
	height: auto;
}

a {
	color: $color5;
	text-decoration: none;

	&:hover {
		color: $color5	;
	}
}

section,
body > header {
	width: 100%;
	margin: auto;
	padding: 0;
	max-width: 1320px;
	@media (max-width: 1356px) {
		max-width: 100%;
		padding: 0 $mainStep * 2.5;
	}
}

.main-wrapper {
	width: 100%;
	padding: 0;
}

section {
	width: 100%;
}

#breadcrumbs {
	margin: $mainStep * 5 auto;
	margin-top: $mainStep * 3.5;
	width: 100%;
	padding: 0;
	max-width: 1320px;
	@media (max-width: 1356px) {
		padding: 0 $mainStep * 2;
		margin-left: 0;
		margin-right: 0;
	}
	@media (max-width: 768px) {
		margin: auto;
	}
	ol {
		display: inline;
		@media (max-width: 768px) {
			margin: $mainStep * 3 auto;
			margin-top: $mainStep * 2;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: $mainStep;
		}
	}
	a,
	span {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: $gray3;
		text-decoration: none;
		transition: 0.3s;
		background-image: none !important;
		&:hover {
			text-decoration: none;
			color: $color9;
		}
	}

	a {
		display: inline;
		gap: 4px;
		&::after {
			content: '';
			display: inline-block;
			height: 10px;
			width: 22px;
			background: url('../img/gray/chevron_right_gray.svg') center no-repeat;
		}
	}

	li {
		display: inline;

		&.home {
			a {
				&::before {
					content: '';
					display: inline-block;
					height: 20px;
					width: 20px;
					background: url('../img/gray/home_gray.svg') center no-repeat;
					transition: 0.3s;
					margin-right: 4px;
					position: relative;
					top: 3px;
				}
			}
			&:hover {
				span {
					color: $color9;
				}
				a {
					&::before {
						background: url('../img/dark/home_dark.svg') center no-repeat;
					}
				}
			}
		}
		&:last-of-type {
			a,
			span {
				color: $color9;
			}
			&::after {
				content: none;
			}
			&:hover {
				color: $color9;
			}
		}
	}

	@media (max-width: 768px) {
		ol {
			overflow: hidden;
			overflow-x: auto;
			margin: 0;
			flex-flow: row nowrap;
			padding-bottom: $mainStep;
			a,
			span {
				white-space: nowrap;
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
	}
}

.highlight {
	position: relative;
	overflow: visible;
	&::after {
		content: '';
		display: block;
		transition: 0.3s;
		background-color: $color1 !important;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		border-radius: 7px;
		@media (max-width: 768px) {
			width: 100dvw;
		}
	}
	&.playing {
		&::after {
			opacity: 1;
		}
	}
}

body:has(.menu-wrapper.open) {
	overflow: hidden;
}

body:has(.modal[aria-hidden='false']) {
	overflow: hidden;
}

.success-page {
	max-width: 936px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: $mainStep * 10 auto;
	@media (max-width: 768px) {
		margin: 0 auto;
		margin-top: 8px;
		margin-bottom: $mainStep * 10;
	}
	h2 {
		@include fontHeadingBold;
		text-align: center;
		margin-bottom: $mainStep * 10;
		@media (max-width: 768px) {
			margin-bottom: $mainStep * 5;
			@include fontTitleBold;
		}
	}
	img {
		max-width: 264px;
		@media (max-width: 768px) {
			max-width: 193px;
		}
	}
	.page-text {
		margin: auto;
		margin-top: $mainStep * 5;
		text-align: center;
		@include fontHeaderRegular;
		@media (max-width: 768px) {
			@include fontRegular2;
			font-size: 18px;
		}
	}
	.home-btn {
		width: 100%;
		max-width: 290px;
		margin-top: $mainStep * 5;
		@media (max-width: 567px) {
			max-width: 100%;
		}
	}
}

.loading {
	position: relative;
	&.loading-start {
		&::before,
		&::after {
			opacity: 0.7;
			transition: 0.3s;
		}
	}
	&.loading-end {
		&::before,
		&::after {
			opacity: 0;
			transition: 0.3s;
		}
	}
	&::before {
		content: '';
		position: fixed;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		width: 40px;
		height: 40px;
		display: block;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
		border: 4px solid rgba(0, 0, 0, 0.1);
		border-left-color: $color6;
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}
	&::after {
		content: '';
		opacity: 1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		opacity: 0.7;
		z-index: 0;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#success-message-modal {
	.modal__container {
		@media (max-width: 768px) {
			height: 100%;
		}
	}
	.modal__content {
		background-color: white;
		padding: 44px 0;
		padding-top: 36px;
		@media (max-width: 1920px) {
			padding-top: 0;
		}
		@media (max-width: 768px) {
			padding-top: 0;
			height: calc(100% - 90px);
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 936px;
		margin: auto;
		color: $color9;
		@media (max-width: 768px) {
			height: 100%;
			padding: 0 $mainStep * 2;
		}
		h2 {
			margin-bottom: $mainStep * 10;
			@include fontHeadingBold;
			@media (max-width: 1920px) {
				font-size: 48px;
				margin-bottom: 40px;
			}
			@media (max-width: 768px) {
				@include fontUbuntu20Bold;
				margin-bottom: 60px;
				margin-top: auto;
			}
		}
		img {
			margin-bottom: $mainStep * 5;
			max-width: 258px;
			@media (max-width: 1920px) {
				max-width: 200px;
			}
			@media (max-width: 768px) {
				max-width: 161px;
				margin: 0;
			}
		}
		p {
			@include fontHeaderRegular;
			@media (max-width: 1920px) {
				white-space: wrap;
			}
			@media (max-width: 768px) {
				@include fontRegular2;
				margin: $mainStep * 5 auto;
			}
		}
		.button {
			margin-top: $mainStep * 8;
			height: 50px;
			min-width: 220px;
			@media (max-width: 1920px) {
				margin-top: $mainStep * 4;
			}
			@media (max-width: 768px) {
				min-width: auto;
				margin-top: auto;
				height: 48px;
				width: 100%;
			}
		}
	}
}

////  сніжинки вимкнуті, увімнктить, коли потрібно
//#snowflakes {
//	position: fixed;
//	top: 0;
//	left: 0;
//	width: 100%;
//	height: 100%;
//	pointer-events: none; /* Щоб сніжинки не заважали клікам */
//	overflow: hidden;
//}
//
//.snowflake {
//	position: absolute;
//	top: -50px; /* Початкове розташування за межами екрану */
//	color: white;
//	font-size: 10px;
//	opacity: 0.8;
//	pointer-events: none;
//	animation: fall linear infinite;
//}
//
//@keyframes fall {
//	0% {
//		transform: translateY(0) rotate(0deg);
//		opacity: 1;
//	}
//	100% {
//		transform: translateY(100vh) rotate(360deg);
//		opacity: 0.5;
//	}
//}
