$bgLightBlue: rgba(230, 247, 254, 1);
$gray: rgba(156, 163, 175, 1);
$placeholder: rgba(107, 114, 128, 1);
$activeColor1: rgba(17, 106, 204, 1);
$activeBg: rgba(160, 195, 255, 0.1);
$error: rgba(186, 0, 0, 1);
$success: rgba(118, 202, 102, 1);
