@import './vars';

.star-empty {
  display: block;
  background: url('../img/star_empty.svg') center no-repeat;
  height: 24px;
  width: 24px;
}

.star-full {
  display: block;
  background: url('../img/star_full.svg') center no-repeat;
  height: 24px;
  width: 24px;
}

.star_full_rounded {
  display: block;
  background: url('../img/star_full_rounded.png') center no-repeat;
  height: 24px;
  width: 24px;
}

i.icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  display: block;
  &.home {
    background: url('../img/gray/home_gray.svg') center no-repeat;
  }
  &.comments {
    &.blue {
      background: url('../img/comments_blue.svg') center no-repeat;
      background-size: 18px;
    }
    &.purple {
      background: url('../../public/img/comments_purple.svg') center no-repeat;
      background-size: 18px;
    }
  }
  &.search {
    background: url('../img/gray/search_gray.svg') center no-repeat;
    &.dark {
      background: url('../img/dark/search_dark.svg') center no-repeat;
    }
  }
  &.clock {
    &.dark {
      background: url('../img/clock_dark.svg') center no-repeat;
    }
    &.purple-1 {
      background: url('../../public/img/clock_purple.svg') center no-repeat;
    }
  }
  &.credit-card {
    &.dark {
      background: url('../../public/img/credit_card.svg') center no-repeat;
    }
  }
  &.chevron-rigth {
    &.dark {
      background: url('../../public/img/chevron_right_dark.svg') center no-repeat;
    }
  }
  &.chevron-down {
    &.dark {
      background: url('../img/chevron_down_dark.svg') center no-repeat;
    }
    &.purple-1 {
      background: url('../../public/img/chevron_down_purple.svg') center no-repeat;
    }
    &.blue {
      background: url('../../public/img/chevron_down_blue.svg') center no-repeat;
    }
  }
  &.arrow-right {
    &.white {
      background: url('../img/arrow_right_white.svg') center no-repeat;
    }
  }
  &.pensil {
    &.white {
      background: url('../img/pencil_white.svg') center no-repeat;
    }
  }
  &.map {
    background: url('../../public/img/MapTrifold.svg') center no-repeat;
  }
  &.map-pin {
    background: url('../../public/img/MapPin.svg') center no-repeat;
    &.purple-1 {
      background: url('../../public/img/MapPin_purple1.svg') center no-repeat;
    }
  }
  &.phone {
    background: url('../../public/img/phone.svg') center no-repeat;
  }
  &.like {
    background: url('../../public/img/like.svg') center no-repeat;
    &.active {
      background: url('../../public/img/like_active.svg') center no-repeat;
    }
    @media (max-width: 768px) {
      background: url('../../public/img/like_blue.svg') center no-repeat;
      &.active {
        background: url('../../public/img/like_active_blue.svg') center no-repeat;
      }
    }
  }
  &.dislike {
    background: url('../../public/img/dislike.svg') center no-repeat;
    &.active {
      background: url('../../public/img/dislike_active.svg') center no-repeat;
    }
    @media (max-width: 768px) {
      background: url('../../public/img/dislike_blue.svg') center no-repeat;
      &.active {
        background: url('../../public/img/dislike_active_blue.svg') center no-repeat;
      }
    }
  }
  &.x-mark {
    background: url('../../public/img/x_mark.svg') center no-repeat;
    &.gray {
      background: url('../../public/img/x_mark_gray.svg') center no-repeat;
    }
    &.blue {
      background: url('../../public/img/x_mark_blue.svg') center no-repeat;
    }
  }
  &.calendar {
    &.gray {
      background: url('../../public/img/calendar_gray.svg') center no-repeat;
    }
  }
  &.gov {
    background: url('../../public/img/emblem.svg') center no-repeat;
    background-color: $color1;
    border-radius: 7px;
  }
  &.coll {
    background: url('../../public/img/collective_unit.svg') center no-repeat;
    background-color: $color1;
    border-radius: 7px;
  }
  &.priv {
    background: url('../../public/img/private_unit.svg') center no-repeat;
    background-color: $color1;
    border-radius: 7px;
  }
  &.facebook {
    &.white {
      background: url('../../public/img/facebook_circle_white.svg') center no-repeat;
    }
  }
  &.instagram {
    &.white {
      background: url('../../public/img/instagram_white.svg') center no-repeat;
    }
  }
  &.arrow-up {
    background: url('../../public/img/arrow_up.svg') center no-repeat;
  }
  &.arrow-left {
    background: url('../../public/img/arrow_left.svg') center no-repeat;
  }
}
