a:not(.button):not(.logo):not(.hide-underline) {
	width: fit-content;
	position: relative;
	background-image: radial-gradient(currentColor, currentColor);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: 0.3s;
	padding-bottom: 1px;
	&:hover {
		background-size: 100% 1px;
	}
	&.line-active {
		background-size: 100% 1px;
	}
}

.hidden {
	display: none !important;
}