{# @var City cities #}

<ul class="cities-list">
    {% for city in cities %}
        {% if city.type.value == constant('App\\Entity\\CityType::CITY').value
            or city.type.value == constant('App\\Entity\\CityType::SPECIAL').value %}
            <li>
                <a href="{{ tu_url(city) }}">{{ tu_name(city) }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
