<div class="search-wrapper">
    <form action="{{ path('search_page') }}" data-action="{{ path('api_search_autocomplete') }}" autocomplete="off">
        <div class="mobile-input-anchor"></div>

        <input name="q" type="text" placeholder="Я хочу знайти..." autocomplete="off" >
                    
        <button class="search-btn">
            <i class="search icon dark"></i>
        </button>

            <div class="async-result-block">
                <div class="result-block units">
                    <div class="block-title">Медичні установи</div>
                    <ul></ul>
                </div>
                <div class="result-block categories">
                    <div class="block-title">Перейти в розділ</div>
                    <ul></ul>
                </div>
                <div class="result-block types">
                    <div class="block-title">Типи медичних установ</div>
                    <ul></ul>
                </div>
                <button class="button plain-text all-results">Всі результати пошуку</button>
                <div class="empty">
                    Нажаль, нічого не знайдено по Вашому запиту
                </div>
            </div>
    </form>
    <script>
        let createNewSearchItem = (item) => {
            return `<li><a href="${item.link}">${item.name}</a></li>`
        }
    </script>
</div>