{% if institution %}
<div class="tags">
    <ul>
        {% if institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::STATE') %}
            <li class="gov tag-block"><span>Державний заклад</span></li>
        {% elseif institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::PRIVATE') %}
            <li class="priv tag-block"><span>Приватний заклад</span></li>
        {% elseif institution.ownershipForm == constant('App\\Entity\\Institution\\OwnershipForm::COLLECTIVE') %}
            <li class="coll tag-block"><span>Колективний заклад</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}