
<div id="eh_banner_big">
    <div class="eh_banner-block">
        <div class="coment-content">
            <div>
                <picture>
                    <source media="(max-width: 392px)" srcset="{{ asset('img/info/info-mini.webp') }}">
                    <source media="(min-width: 393px)" srcset="{{ asset('img/info/info.webp') }}">
                    <img src="{{ asset('img/info/info.png') }}" alt="info" fetchpriority="high">
                </picture>
            </div>
        </div>
        <div class="close"></div>
    </div>
</div>

<div id="background"></div>