
<div id="eh_banner" style="display: none;">
    <div class="eh_banner-block">
        <div class="title">
            Підписуйтесь на нас:
            <button id="hide_popup" class="modal__close" data-dismiss="modal" aria-label="Закрити"></button>
        </div>
        <div class="coment-content">
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/micto_ua?utm_medium=copy_link">
                <img src="{{asset('img/instagram_dark.svg')}}"
                     alt="facebook"
                     width="24"
                     height="24"
                     loading="lazy"
                     fetchpriority="low"
                >
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/100450092618750/posts/110907848239641/">
                <img src="{{asset('img/facebook_circle_dark.svg')}}"
                     alt="facebook"
                     width="24"
                     height="24"
                     loading="lazy"
                     fetchpriority="low"
                >
            </a>
        </div>
    </div>
</div>