<div class="selected-filters empty">
    <div class="filter-title">Ви обрали</div>

    <button class="clear-all button plain-text" title="Очистити всі">
        <span>Очистити всі</span>
        <i class="icon x-mark blue"></i>
    </button>
</div>