@font-face {
    font-family: "Outfit Black";
    src: url("/outfit/Outfit-Black.ttf");
}

@font-face {
    font-family: "Outfit Bold";
    src: url("/outfit/Outfit-Bold.ttf");
}

@font-face {
    font-family: "Outfit ExtraBold";
    src: url("/outfit/Outfit-ExtraBold.ttf");
}

@font-face {
    font-family: "Outfit ExtraLight";
    src: url("/outfit/Outfit-ExtraLight.ttf");
}

@font-face {
    font-family: "Outfit Light";
    src: url("/outfit/Outfit-Light.ttf");
}

@font-face {
    font-family: "Outfit Medium";
    src: url("/outfit/Outfit-Medium.ttf");
}

@font-face {
    font-family: "Outfit Regular";
    src: url("/outfit/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit SemiBold";
    src: url("/outfit/Outfit-SemiBold.ttf");
}

@font-face {
    font-family: "Outfit Thin";
    src: url("/outfit/Outfit-Thin.ttf");
}

@font-face {
    font-family: "YoungSerif Regular";
    src: url("/young-serif/YoungSerif-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* White */
    /* color: hsl(0, 0%, 100%); */

    /* Stone 100 */
    /* color: hsl(30, 54%, 90%); */
    /* Stone 150 */
    /* color: hsl(30, 18%, 87%); */
    /* Stone 600 */
    /* color: hsl(30, 10%, 34%); */
    /* Stone 900 */
    /* color: hsl(24, 5%, 18%); */
    /* Brown 800 */
    /* color: hsl(14, 45%, 36%); */

    /* Rose 800 */
    /* color: hsl(332, 51%, 32%); */
    /* Rose 50 */
    /* color: hsl(330, 100%, 98%); */
}

h1 {
    font-family: "YoungSerif Regular";
    font-size: 40px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 15px;
}

h2 {
    font-family: "YoungSerif Regular";
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-family: "Outfit Bold";
    font-size: 20px;
    letter-spacing: -0.2px;
}

p {
    line-height: 24px;
    margin-bottom: 33px;
}

b {
    font-family: "Outfit Bold";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Outfit Regular";
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
}

main {
    width: 738px;
    margin: 0 auto;
    padding-top: 122px;
}
/* ---------------------------------------------------------------------------------------------------- */

.panel {
    padding: 41px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
}

.panel img {
    width: 100%;
    border-radius: 15px;
}
/* ---------------------------------------------------------------------------------------------------- */

.preparation {
    padding: 24px 28px 30px 28px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    margin-bottom: 27px;
}

.preparation h3 {
    margin-bottom: 16px;
    color: hsl(332, 51%, 32%);
}

.preparation ul {
    padding: 0 8px;
}

.preparation ul li {
    position: relative;
}

.preparation ul li::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    background-color: hsl(332, 51%, 32%);
}

.preparation ul li .content {
    padding-left: 32px;
}

.preparation ul li + li {
    margin-top: 12px;
}
/* ---------------------------------------------------------------------------------------------------- */

.ingredients {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding-bottom: 33px;
}

.ingredients h2 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.ingredients ul {
    padding: 0 8px;
}

.ingredients ul li {
    position: relative;
}

.ingredients ul li::before {
    content: "";
    float: left;
    width: 4px;
    height: 4px;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    background-color: hsl(14, 45%, 36%);
}

.ingredients ul li .content {
    padding-left: 32px;
}

.ingredients ul li + li {
    margin-top: 12px;
}