@font-face {
    font-family: "Outfit Regular";
    src: url("/fonts/outfit/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit Bold";
    src: url("/fonts/outfit/Outfit-Bold.ttf");
}

@font-face {
    font-family: "YoungSerif Regular";
    src: url("/fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone--100: hsl(30, 54%, 90%);
    --color-stone--150: hsl(30, 18%, 87%);
    --color-stone--900: hsl(24, 5%, 18%);
    --color-brown--800: hsl(14, 45%, 36%);
    --color-rose--50: hsl(330, 100%, 98%);
    --color-rose--800: hsl(332, 51%, 32%);
    --font-size--base: 16px;
    --font-outfit--regular: "Outfit Regular";
    --font-outfit--bold: "Outfit Bold";
    --font-young-serif--regular: "YoungSerif Regular";
}

@media screen and (max-width: 375px) {
    :root {
        --font-size--base: 15px;
    }
}

.color-brown--800 {
    color: var(--color-brown--800);
}

.bg-rose--50 {
    background-color: var(--color-rose--50);
}

.color-rose--800 {
    color: var(--color-rose--800);
}

.font-outfit--bold {
    font-family: var(--font-outfit--bold);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size--base);
}

body {
    font-family: var(--font-outfit--regular);
    color: var(--color-stone--900);
    background-color: var(--color-stone--100);
}

h1 {
    font-family: var(--font-young-serif--regular);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-top: 2.313rem;
    margin-bottom: 1.438rem;
}

h2 {
    font-family: var(--font-young-serif--regular);
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-top: 2.063rem;
    margin-bottom: 1.438rem;
}

h3 {
    font-family: var(--font-young-serif--regular);
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.2px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

b {
    font-family: var(--font-outfit--bold);
}

ul, ol {
    list-style: none;
}