  <div class="modal micromodal-slide" id="add-question-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container add-question" role="dialog" aria-modal="true" aria-labelledby="add-question-modal-title">
        <header class="modal__header">
          <h2 class="modal__title" id="add-question-modal-title">
            Задати питання
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <div class="modal__content" id="add-question-modal-content">

          {{ render(controller('App\\Controller\\CommentFormController::getQuestionForm', {
              'entity': entity
          })) }}

          <div class="info">
            <p><span>Заповнюючи цю форму, ви погоджуєтеся з</span> <a href="{{ path('privacy_policy_page') }}">умовами збору, обробки та захисту</a> <span>персональних даних</span></p>
          </div>

        </div>
        {# <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary">Continue</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer> #}
      </div>
    </div>
  </div>
  