{% form_theme form 'form/register_form_layout.html.twig' %}

{{ form_start(form, {
    'action': path('create_question'),
    'attr': {
        'id': 'question-form'
    }}) 
}}
    {% if form_errors(form) %}
        <div class="error-message">
            Виникла помилка при збереженні питання
        </div>
    {% endif %}

{{ form_end(form) }}