  <div class="modal micromodal-slide" id="success-message-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container success-message" role="dialog" aria-modal="true" aria-labelledby="success-message-modal-title">
        <header class="modal__header">
          <p></p>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <div class="modal__content" id="success-message-modal-content">

          <div class="info">
            <h2>Дякуємо за ваше повідомлення !</h2>
            <img src="{{ asset('img/success_message.webp') }}" alt="Лист" width="387" height="396" loading="lazy" decoding="async" fetchpriority="low">
            <p class="dymanic-text">Воно незабаром буде додане на портал і його побачать інші користувачі</p>
          <button data-micromodal-close class="primary button">Повернутись назад</button>
          </div>

        </div>
      </div>
    </div>
  </div>