.message {
    --message-color-default: var(--color-neutral-500);
    --message-color-invalid: var(--color-orange-500);
    --message-gap: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--message-gap);
    font-family: "Inconsolata Medium";
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.2px;
    margin-top: 12px;
}

.message-color--default {
    color: var(--message-color-default);
}

.message-color--invalid {
    color: var(--color-orange-500);
}
