.recipe-page {
    max-width: 738px;
    margin: 0 auto;
    padding-top: 122px;
    padding-bottom: 128px;
}

@media screen and (max-width: 767px) {
    .recipe-page {
        width: 100%;
        max-width: fit-content;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-height: 500px) {
    .recipe-page {
        padding: 50px 0;
    }
}