* {
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
}

.ctrl-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 425px) {
    .ctrl-group {
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
}

.btn {
    min-width: 40px;
    min-height: 40px;
    font-size: 20px;
    padding: 8px 16px;
}
