* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size--base: 20px;

    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-300: hsl(252, 6%, 83%);
    --color-neutral-500: hsl(245, 15%, 58%);
    --color-neutral-700: hsl(245, 19%, 35%);
    --color-neutral-900: hsl(248, 70%, 10%);

    --color-orange-500: hsl(7, 88%, 67%);
    --color-orange-700: hsl(7, 71%, 60%);

    --color-graditent--start: hsl(7, 86%, 67%);
    --color-gradient--end: hsl(0, 0%, 100%);
    
    /* - Mobile: 375px */
    /* - Desktop: 1440px */
}

@font-face {
    font-family: "Inconsolata Regular";
    src: url("/fonts/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata Medium";
    src: url("/fonts/Inconsolata-Medium.ttf");
}

@font-face {
    font-family: "Inconsolata Bold";
    src: url("/fonts/Inconsolata-Bold.ttf");
}

@font-face {
    font-family: "Inconsolata Extra-Bold";
    src: url("/fonts/Inconsolata-ExtraBold.ttf");
}

.c-orange--500 {
    color: var(--color-orange-500);
}

.f-orange--500 {
    fill: var(--color-orange-500);
}

.text--center {
    text-align: center;
}

.margin--center {
    margin-left: auto;
    margin-right: auto;
}

body {
    color: var(--color-neutral-0);
    font-size: var(--font-size--base);
    background-image: url("/background-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

p {
    font-family: "Inconsolata Regular";
    font-size: 23px;
    line-height: 23px;
}