{% form_theme form 'form/register_form_layout.html.twig' %}

  <h2>ЗАПИСТИСЯ НА ПРИЙОМ</h2>
<div class="w-form">
  {{ form_start(form, {'action': path('create_psychologist_request'), 'attr':{'id': 'psychologist-form'}}) }}

  {{ form_end(form) }}
</div>