{# @var Address address #}
<div class="address">
    <span>Адреса</span>
    <span class="value">
        {% if address.zipCode %}
            {{ address.zipCode }},
        {% endif %}
        {% if address.address %}
            {{ address.address }}
        {% endif %}

        
        {% if address.mapUrl %}
            (<a href="{{ address.mapUrl }}" target="_blank">показати на карті</a>)
        {% elseif address.latitude and address.longitude %}
            {% set mapLink = 'https://google.com/maps/place/' ~ address.latitude ~ ',' ~ address.longitude %}
            (<a href="{{ mapLink }}" target="_blank">показати на карті</a>)
        {% endif %}
    </span>
</div>
