{% if institutions is defined and institutions is not empty %}
    {% for institution in institutions %}
        <div class="institution">
            <i class="icon gov"></i>
            <div class="name">{{ institution.name }}</div>
            <a href="{{ institution_url(institution) }}" class="primary button">Детальніше</a>
        </div>
    {% endfor %}
{% else %}
    <div class="institution">
        <div class="name">Нічого не знайдено...</div>
    </div>
{% endif %}