.ticket {
    --ticket-image-size: 80px;
    --ticket-border-radius: 12px;

    position: relative;
    border: 2px solid var(--color-neutral-0);
    border-radius: var(--ticket-border-radius);
    padding: 28px 8px 24px 22px;
    background-color: rgba(210, 209, 214, 0.2);
    overflow: hidden;
}

.ticket::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    right: -75px;
    height: 3px;
    background: radial-gradient(10px 3px, var(--color-neutral-500) 80%, transparent 87%) 0 0 / 30px 100%;
    transform: rotate(90deg);
}

.ticket .image {
    width: var(--ticket-image-size);
    height: var(--ticket-image-size);
    border-radius: var(--ticket-border-radius);
}

.number {
    transform: rotate(90deg);
    color: var(--color-neutral-500);
}