.h1 {
    /*  */
}

.h2 {
    /*  */
}

.h3 {
    font-family: "Inconsolata Extra-Bold";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.3px;
}

.h4 {
    /*  */
}

.h5 {
    /*  */
}

.h6 {
    /*  */
}